.forgot-password-3-child1,
.forgot-password-3-inner {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.forgot-password-3-child1 {
  top: 486px;
  left: -310px;
}
.logo-icon15 {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.qun-mt-khu4 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.bn-s-nhn {
  margin: 0;
}
.bn-s-nhn-container {
  position: relative;
  font-weight: 300;
}
.bn-s-nhn-c-mt-email-c-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gi-li-lin {
  position: relative;
  font-weight: 500;
}
.gi-li-lin-kt-email-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.div376 {
  color: #4a72ff;
}
.div376,
.frame-parent1747,
.qun-mt-khu-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent1747 {
  gap: 40px;
  font-size: 20px;
}
.qun-mt-khu-group {
  position: absolute;
  top: calc(50% - 173px);
  left: calc(50% - 328.5px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 48px 60px;
  gap: 24px;
}
.forgot-password-31 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
