.forgot-password-4-child,
.forgot-password-4-item {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.forgot-password-4-item {
  top: 486px;
  left: -310px;
}
.logo-icon13 {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.m-xc-thc {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.nhp-otp-one {
  margin: 0;
}
.gi-n,
.nhp-otp-one {
  font-weight: 300;
}
.sooyaaa334455gmailcom7 {
  font-weight: 500;
  font-family: Kanit;
}
.gi-n-sooyaaa334455gmailco {
  margin: 0;
}
.nhp-otp-one-container {
  position: relative;
}
.nhp-otp-one-time-password-g-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.label {
  position: absolute;
  top: calc(50% - 14.5px);
  left: calc(50% - 3.5px);
}
.label-wrapper {
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(255, 163, 158, 0.64);
  border: 1px solid #ff7875;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1743 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.label6 {
  position: relative;
  font-size: 14px;
  font-weight: 300;
}
.frame-parent1741,
.frame-parent1742 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-parent1742 {
  justify-content: center;
  gap: 16px;
  text-align: right;
  color: #ff7875;
}
.frame-parent1741 {
  justify-content: flex-start;
  gap: 24px;
}
.xc-thc-m {
  position: relative;
  font-weight: 500;
}
.div373 {
  border-radius: 28px;
  background-color: #4a72ff;
  box-shadow: 0 4px 15px rgba(110, 142, 255, 0.64);
  width: 382px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 77px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.gi-li-m {
  position: relative;
  font-weight: 500;
  color: #4a72ff;
}
.div372 {
  color: #fff;
}
.div372,
.frame-parent1740,
.m-xc-thc-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent1740 {
  gap: 40px;
  font-size: 20px;
}
.m-xc-thc-parent {
  position: absolute;
  top: calc(50% - 240.5px);
  left: calc(50% - 250.5px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 48px 60px;
  gap: 24px;
}
.forgot-password-4 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
