.forgot-password-3-child,
.forgot-password-3-item {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.forgot-password-3-item {
  top: 486px;
  left: -310px;
}
.logo-icon14 {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.m-xc-thc1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.nhp-otp-one1 {
  margin: 0;
}
.gi-n1,
.nhp-otp-one1 {
  font-weight: 300;
}
.sooyaaa334455gmailcom8 {
  font-weight: 500;
  font-family: Kanit;
}
.gi-n-sooyaaa334455gmailco1 {
  margin: 0;
}
.nhp-otp-one-container1 {
  position: relative;
}
.nhp-otp-one-time-password-g-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.label7 {
  position: absolute;
  top: calc(50% - 14.5px);
  left: calc(50% - 3.5px);
}
.label-wrapper4 {
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(255, 163, 158, 0.64);
  border: 1px solid #ff7875;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1746 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  color: #ff7875;
}
.label13 {
  position: relative;
  font-weight: 300;
}
.frame-parent1745,
.label-wrapper10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.label-wrapper10 {
  align-items: flex-end;
  font-size: 14px;
}
.frame-parent1745 {
  align-items: center;
  gap: 24px;
}
.xc-thc-m1 {
  position: relative;
  font-weight: 500;
}
.div375 {
  border-radius: 28px;
  background-color: #4a72ff;
  box-shadow: 0 4px 15px rgba(110, 142, 255, 0.64);
  width: 382px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 77px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.gi-li-m1 {
  position: relative;
  font-weight: 500;
  color: #4a72ff;
}
.div374 {
  text-align: center;
  color: #fff;
}
.div374,
.frame-parent1744,
.m-xc-thc-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent1744 {
  gap: 40px;
  text-align: right;
  font-size: 20px;
}
.m-xc-thc-group {
  position: absolute;
  top: calc(50% - 244.5px);
  left: calc(50% - 250.5px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 48px 60px;
  gap: 24px;
}
.forgot-password-3 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
