.forgot-password-5-child,
.forgot-password-5-item {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.forgot-password-5-item {
  top: 486px;
  left: -310px;
}
.logo-icon12 {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.mt-khu-mi4 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.mt-khu-phi12 {
  margin: 0;
}
.mt-khu-phi-container4 {
  position: relative;
  font-weight: 300;
}
.mt-khu-phi-di-t-nht-8-k-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.vuesaxlineareye-icon10 {
  position: relative;
  width: 24px;
  height: 24px;
}
.mt-khu-parent17 {
  border-radius: 1000px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  width: 382px;
  display: flex;
  flex-direction: row;
  padding: 16px 34px;
  align-items: center;
  justify-content: space-between;
  color: #b8b8b8;
}
.div368 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child1004,
.xc-thc-li {
  position: relative;
}
.frame-child1004 {
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 8px;
  height: 8px;
}
.ellipse-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent1739 {
  border-radius: 1000px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  width: 382px;
  display: flex;
  flex-direction: row;
  padding: 16px 34px;
  align-items: center;
  justify-content: space-between;
}
.frame-parent1738,
.parent49 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent49 {
  align-items: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 16px;
}
.frame-parent1738 {
  align-items: center;
  gap: 24px;
}
.thay-i-mt4 {
  position: relative;
  font-weight: 500;
}
.div371 {
  border-radius: 28px;
  background-color: #4a72ff;
  box-shadow: 0 4px 15px rgba(110, 142, 255, 0.64);
  width: 382px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 77px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.hu-b26 {
  position: relative;
  font-weight: 500;
  color: #4a72ff;
}
.div370 {
  color: #fff;
}
.div370,
.frame-parent1737,
.mt-khu-mi-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent1737 {
  gap: 40px;
  font-size: 20px;
}
.mt-khu-mi-parent2 {
  position: absolute;
  top: calc(50% - 311px);
  left: calc(50% - 316px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 48px 60px;
  gap: 24px;
}
.forgot-password-5 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
