.forgot-password-7-2-child,
.forgot-password-7-2-item {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.forgot-password-7-2-item {
  top: 486px;
  left: -310px;
}
.logo-icon7 {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.mt-khu-mi {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.mt-khu-phi {
  margin: 0;
}
.mt-khu-phi-container {
  position: relative;
  font-weight: 300;
}
.mt-khu-phi-di-t-nht-8-k-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mt-khu21 {
  position: relative;
}
.vuesaxlineareye-icon6 {
  position: relative;
  width: 24px;
  height: 24px;
}
.div350,
.mt-khu-parent13 {
  display: flex;
  align-items: flex-start;
}
.mt-khu-parent13 {
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px #ffa39e;
  border: 1px solid #ff7875;
  box-sizing: border-box;
  width: 382px;
  flex-direction: row;
  padding: 16px 34px;
  justify-content: space-between;
  color: #271e4a;
}
.div350 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child964 {
  position: relative;
  border-radius: 50%;
  background-color: #271e4a;
  width: 8px;
  height: 8px;
}
.ellipse-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent1726 {
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px #ffa39e;
  border: 1px solid #ff7875;
  box-sizing: border-box;
  width: 382px;
  display: flex;
  flex-direction: row;
  padding: 16px 34px;
  align-items: center;
  justify-content: space-between;
}
.hai-mt-khu1 {
  position: relative;
  font-size: 14px;
  font-weight: 300;
}
.parent40 {
  align-items: flex-start;
  gap: 12px;
}
.frame-parent1725,
.parent39,
.parent40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent39 {
  align-items: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #ff7875;
}
.frame-parent1725 {
  align-items: center;
  gap: 24px;
}
.thay-i-mt {
  position: relative;
  font-weight: 500;
}
.div353 {
  border-radius: 28px;
  background-color: #4a72ff;
  box-shadow: 0 4px 15px rgba(110, 142, 255, 0.64);
  width: 382px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 77px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.hu-b22 {
  position: relative;
  font-weight: 500;
  color: #4a72ff;
}
.div352 {
  color: #fff;
}
.div352,
.frame-parent1724,
.mt-khu-mi-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent1724 {
  gap: 40px;
  font-size: 20px;
}
.mt-khu-mi-parent {
  position: absolute;
  top: calc(50% - 327.5px);
  left: calc(50% - 316px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 48px 60px;
  gap: 24px;
}
.forgot-password-7-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
