.forgot-password-6-1-child,
.forgot-password-6-1-item {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.forgot-password-6-1-item {
  top: 486px;
  left: -310px;
}
.logo-icon11 {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.mt-khu-mi3 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.mt-khu-phi9 {
  margin: 0;
}
.mt-khu-phi-container3 {
  position: relative;
  font-weight: 300;
}
.mt-khu-phi-di-t-nht-8-k-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mt-khu27 {
  position: relative;
}
.vuesaxlineareye-icon9 {
  position: relative;
  width: 24px;
  height: 24px;
}
.div364,
.mt-khu-parent16 {
  display: flex;
  align-items: flex-start;
}
.mt-khu-parent16 {
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 382px;
  flex-direction: row;
  padding: 16px 34px;
  box-sizing: border-box;
  justify-content: space-between;
  color: #b8b8b8;
}
.div364 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child994 {
  position: relative;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 8px;
  height: 8px;
}
.ellipse-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent1736 {
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 382px;
  display: flex;
  flex-direction: row;
  padding: 16px 34px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.frame-parent1735,
.parent47 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent47 {
  align-items: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 16px;
}
.frame-parent1735 {
  align-items: center;
  gap: 24px;
}
.thay-i-mt3 {
  position: relative;
  font-weight: 500;
}
.div367 {
  border-radius: 28px;
  background-color: #4a72ff;
  box-shadow: 0 4px 15px rgba(110, 142, 255, 0.64);
  width: 382px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 77px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.hu-b25 {
  position: relative;
  font-weight: 500;
  color: #4a72ff;
}
.div366 {
  color: #fff;
}
.div366,
.frame-parent1734,
.mt-khu-mi-parent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent1734 {
  gap: 40px;
  font-size: 20px;
}
.mt-khu-mi-parent1 {
  position: absolute;
  top: calc(50% - 311px);
  left: calc(50% - 316px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 48px 60px;
  gap: 24px;
}
.forgot-password-6-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
