.forgot-password-8-child,
.forgot-password-8-item {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.forgot-password-8-item {
  top: 486px;
  left: -310px;
}
.logo-icon8 {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.thnh-cng {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.mt-khu-ca {
  position: relative;
  font-weight: 300;
}
.mt-khu-ca-bn-c-cp-n-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ng-nhp12 {
  position: relative;
  font-weight: 500;
}
.div355 {
  border-radius: 28px;
  background-color: #4a72ff;
  box-shadow: 0 4px 15px rgba(110, 142, 255, 0.64);
  width: 382px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 77px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.div354 {
  color: #fff;
}
.div354,
.frame-parent1727,
.thnh-cng-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent1727 {
  gap: 40px;
  font-size: 20px;
}
.thnh-cng-parent {
  position: absolute;
  top: calc(50% - 144px);
  left: calc(50% - 250.5px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 48px 60px;
  gap: 24px;
}
.forgot-password-8 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
