.bnh-nhp-thng4 {
  font-weight: 500;
}
.bnh-nhp-thng4,
.hc-lc17,
.thuc-tnh-chung8 {
  position: relative;
}
.hc-lc17 {
  font-weight: 300;
}
.vd-gii-wrapper2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconfilleddirectionalcaret-56 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1495,
.hc-lc-parent11 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent1495 {
  border-radius: 4px;
  border: 1px solid #271e4a;
  box-sizing: border-box;
  width: 530px;
  padding: 8px;
  justify-content: flex-start;
  gap: 8px;
  font-size: 20px;
  font-family: Roboto;
}
.hc-lc-parent11 {
  align-self: stretch;
  justify-content: space-between;
}
.frame-parent1496,
.nu-bn-cha-bit-tnh-cch-c-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nu-bn-cha-bit-tnh-cch-c-parent2 {
  flex-direction: row;
  gap: 4px;
  font-size: 20px;
}
.frame-parent1496 {
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.frame-parent1494 {
  padding: 0 0 0 16px;
}
.frame-parent1494,
.thuc-tnh-chung-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.c-th-chn8 {
  position: relative;
  font-size: 20px;
  font-weight: 300;
}
.thuc-tnh-danh-sch-nguyn-v-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 24px;
}
.iconoutlinedapplicationdele23 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationdele-parent10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #ff2528;
}
.icontwo-tonesuggestedquesti12 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1493,
.frame-parent1498,
.frame-parent1500,
.khi-thi-parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent1493,
.frame-parent1498,
.frame-parent1500 {
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}
.frame-parent1500 {
  padding: 0 0 0 16px;
  font-size: 24px;
}
.frame-parent1493,
.frame-parent1498 {
  font-size: 20px;
}
.frame-parent1493 {
  gap: 40px;
  font-size: 24px;
}
.iconoutlinedsuggestedplus-parent42 {
  align-self: stretch;
  border-radius: 8px;
  border: 1.5px solid #7b61ff;
  display: flex;
  flex-direction: row;
  padding: 12px 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  color: #7b61ff;
}
.bnh-nhp-thng-tin-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1004px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.frame-child830 {
  position: absolute;
  top: 60px;
  left: 980px;
  border-radius: 8px;
  background-color: #d8d2fc;
  width: 8px;
  height: 64px;
}
.frame-parent1492 {
  position: relative;
  width: 1004px;
  height: 1494px;
}
.checkmark-square-parent167,
.thuc-tnh-chung-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.thuc-tnh-chung-parent7 {
  flex-direction: column;
}
.bng-chn-thuc-tnh-parent2,
.frame-parent1521,
.thuc-tnh-danh-sch-nguyn-v-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.bng-chn-thuc-tnh-parent2,
.frame-parent1521 {
  gap: 40px;
}
.frame-parent1521 {
  font-size: 24px;
}
.bng-chn-thuc-tnh-parent2 {
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 456px;
  padding: 40px;
  box-sizing: border-box;
}
.iconoutlinedapplicationbulb-parent21 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  display: flex;
  flex-direction: row;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  color: #fff;
}
.frame-parent1491,
.frame-parent1520 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent1491 {
  position: absolute;
  top: 127px;
  left: calc(50% - 640px);
  border-radius: 40px;
  width: 1500px;
  flex-direction: row;
  align-items: flex-start;
}
.thng-bo41 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.title27,
.tt-c-wrapper25 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.title27 {
  align-self: stretch;
  height: 28px;
  padding: 0 0 0 4px;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c-wrapper25 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  padding: 4px 16px;
  justify-content: center;
}
.cha-c-wrapper25,
.frame-parent1525 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper25 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent1525 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child831 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind268,
.emailgmailcom27 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom27 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.byewind-parent266,
.rectangle-parent490 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent490 {
  flex-direction: row;
  padding: 4px;
  gap: 8px;
}
.frame-child832 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent1526 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child834 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent1527,
.frame-parent1528,
.frame-parent1529 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent1528,
.frame-parent1529 {
  z-index: 4;
}
.frame-parent1529 {
  z-index: 5;
}
.frame-parent1530,
.frame-parent1531,
.frame-parent1532,
.frame-parent1533,
.frame-parent1534,
.frame-parent1535 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent1531,
.frame-parent1532,
.frame-parent1533,
.frame-parent1534,
.frame-parent1535 {
  z-index: 7;
}
.frame-parent1532,
.frame-parent1533,
.frame-parent1534,
.frame-parent1535 {
  z-index: 8;
}
.frame-parent1533,
.frame-parent1534,
.frame-parent1535 {
  z-index: 9;
}
.frame-parent1534,
.frame-parent1535 {
  z-index: 10;
}
.frame-parent1535 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon27 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button27,
.notifications27 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button27 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications27 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #1c1c1c;
}
.gi-nguyn-vng-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.iconoutlinedapplicationbell53 {
  position: relative;
  width: 36px;
  height: 36px;
}
.iconoutlinedapplicationbell-wrapper51 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1536 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapper343,
.frame-wrapper344 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper344 {
  width: 1500px;
}
.frame-wrapper343 {
  position: absolute;
  top: 40px;
  left: 260px;
  font-size: 42px;
}
.vuesaxlinearhome-parent17 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.iconoutlinedapplicationbulb24 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbulb-parent22 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.frame-parent1539 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.female15-icon51 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.female15-parent49 {
  position: absolute;
  top: 60px;
  left: calc(50% - 113px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.frame-parent1538 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 206px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 394px;
}
.vuesaxlineararrow-right-icon71 {
  position: relative;
  width: 24px;
  height: 24px;
}
.vuesaxlineararrow-right-wrapper52 {
  position: absolute;
  top: 122px;
  left: 412px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-parent1537 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 900px);
  width: 412px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent1490 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.gi-nguyn-vng-2 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1800px;
  overflow: hidden;
  text-align: left;
  font-size: 36px;
  color: #271e4a;
  font-family: Kanit;
}
