.vuesaxlineararrow-right-icon70 {
  position: relative;
  width: 24px;
  height: 24px;
}
.vuesaxlineararrow-right-wrapper51 {
  position: absolute;
  top: 82px;
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.vuesaxlinearhome-icon18 {
  position: relative;
  width: 36px;
  height: 36px;
}
.text317 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.vuesaxlinearhome-parent16 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.iconoutlinedapplicationbulb21 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbulb-parent19 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.frame-parent1441 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.female15-icon50 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text322 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.female15-parent48 {
  position: absolute;
  top: 60px;
  left: calc(50% - 42px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.frame-parent1440 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 118px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.frame-parent1439 {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 960px;
  font-family: Inter;
}
.title26 {
  align-self: stretch;
  height: 28px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c26 {
  position: relative;
  font-weight: 300;
}
.tt-c-wrapper24 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  display: flex;
  flex-direction: row;
  padding: 4px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cha-c-wrapper24,
.frame-parent1442 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper24 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent1442 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child807 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind258,
.emailgmailcom26 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom26 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.byewind-parent256,
.rectangle-parent480 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent480 {
  flex-direction: row;
  padding: 4px;
  gap: 8px;
}
.frame-child808 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent1443 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child810 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent1444,
.frame-parent1445,
.frame-parent1446 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent1445,
.frame-parent1446 {
  z-index: 4;
}
.frame-parent1446 {
  z-index: 5;
}
.frame-parent1447,
.frame-parent1448,
.frame-parent1449,
.frame-parent1450,
.frame-parent1451,
.frame-parent1452 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent1448,
.frame-parent1449,
.frame-parent1450,
.frame-parent1451,
.frame-parent1452 {
  z-index: 7;
}
.frame-parent1449,
.frame-parent1450,
.frame-parent1451,
.frame-parent1452 {
  z-index: 8;
}
.frame-parent1450,
.frame-parent1451,
.frame-parent1452 {
  z-index: 9;
}
.frame-parent1451,
.frame-parent1452 {
  z-index: 10;
}
.frame-parent1452 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon26 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button26,
.notifications26 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button26 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications26 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
}
.gi-nguyn11 {
  position: relative;
  font-weight: 500;
}
.gi-nguyn-vng-wrapper9,
.iconoutlinedapplicationbell-wrapper50 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.iconoutlinedapplicationbell-wrapper50 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  padding: 8px;
  align-items: flex-start;
}
.frame-parent1453 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapper341,
.frame-wrapper342 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper342 {
  width: 1500px;
}
.frame-wrapper341 {
  position: absolute;
  top: 40px;
  left: 260px;
  font-size: 42px;
  color: #271e4a;
}
.thuc-tnh-chung6 {
  position: relative;
}
.vd-gii-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconfilleddirectionalcaret-42 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1458,
.hc-lc-parent10 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent1458 {
  border-radius: 4px;
  border: 1px solid #271e4a;
  box-sizing: border-box;
  width: 530px;
  padding: 8px;
  justify-content: flex-start;
  gap: 8px;
  font-size: 20px;
  font-family: Roboto;
}
.hc-lc-parent10 {
  align-self: stretch;
  justify-content: space-between;
}
.frame-parent1459,
.nu-bn-cha-bit-tnh-cch-c-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nu-bn-cha-bit-tnh-cch-c-parent1 {
  flex-direction: row;
  gap: 4px;
  font-size: 20px;
}
.frame-parent1459 {
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.frame-parent1457 {
  padding: 0 0 0 16px;
}
.frame-parent1457,
.thuc-tnh-chung-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.c-th-chn6 {
  position: relative;
  font-size: 20px;
  font-weight: 300;
}
.thuc-tnh-danh-sch-nguyn-v-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 24px;
}
.iconoutlinedapplicationdele20 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationdele-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #ff2528;
}
.icontwo-tonesuggestedquesti9 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1456,
.frame-parent1461,
.frame-parent1463,
.khi-thi-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent1456,
.frame-parent1461,
.frame-parent1463 {
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}
.frame-parent1463 {
  padding: 0 0 0 16px;
  font-size: 24px;
}
.frame-parent1456,
.frame-parent1461 {
  font-size: 20px;
}
.frame-parent1456 {
  gap: 40px;
  font-size: 24px;
}
.iconoutlinedsuggestedplus-parent41 {
  align-self: stretch;
  border-radius: 8px;
  border: 1.5px solid #7b61ff;
  display: flex;
  flex-direction: row;
  padding: 12px 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  color: #7b61ff;
}
.bnh-nhp-thng-tin-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1004px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.frame-child827 {
  position: absolute;
  top: 60px;
  left: 980px;
  border-radius: 8px;
  background-color: #d8d2fc;
  width: 8px;
  height: 64px;
}
.frame-parent1455 {
  position: relative;
  width: 1004px;
  height: 1494px;
}
.checkmark-square-parent161,
.thuc-tnh-chung-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.thuc-tnh-chung-parent5 {
  flex-direction: column;
}
.bng-chn-thuc-tnh-parent1,
.frame-parent1484,
.thuc-tnh-danh-sch-nguyn-v-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.bng-chn-thuc-tnh-parent1,
.frame-parent1484 {
  gap: 40px;
}
.frame-parent1484 {
  font-size: 24px;
}
.bng-chn-thuc-tnh-parent1 {
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 456px;
  padding: 40px;
  box-sizing: border-box;
}
.iconoutlinedapplicationbulb-parent20 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  display: flex;
  flex-direction: row;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  color: #fff;
}
.frame-parent1454,
.frame-parent1483 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent1454 {
  position: absolute;
  top: 127px;
  left: calc(50% - 640px);
  border-radius: 40px;
  width: 1500px;
  flex-direction: row;
  align-items: flex-start;
  font-size: 36px;
  color: #271e4a;
}
.group-parent16 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.gi-nguyn-vng-loading-1-child {
  position: absolute;
  top: calc(50% - 540px);
  left: calc(50% - 960px);
  background-color: rgba(212, 212, 212, 0.15);
  width: 1920px;
  height: 1080px;
  display: none;
}
.loading {
  position: relative;
  line-height: 28px;
}
.frame-child828 {
  position: relative;
  width: 96px;
  height: 96px;
  display: none;
}
.loading-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.frame-child829 {
  position: relative;
  width: 96px;
  height: 96px;
}
.frame-parent1489 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.h-thng-ang {
  margin: 0;
}
.h-thng-ang-container {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #8c8c8c;
  display: inline-block;
  width: 303px;
}
.frame-parent1488 {
  position: absolute;
  top: calc(50% - 142px);
  left: calc(50% - 191px);
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: none;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
  color: #271e4a;
  font-family: "Be Vietnam Pro";
}
.gi-nguyn-vng-loading-1 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Kanit;
}
