.vuesaxlineararrow-right-icon68 {
  position: relative;
  width: 24px;
  height: 24px;
}
.vuesaxlineararrow-right-wrapper49 {
  position: absolute;
  top: 82px;
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.vuesaxlinearhome-icon16 {
  position: relative;
  width: 36px;
  height: 36px;
}
.text305 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.vuesaxlinearhome-parent14 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.iconoutlinedapplicationbulb17 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbulb-parent15 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.frame-parent1341 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.female15-icon48 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text310 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.female15-parent46 {
  position: absolute;
  top: 60px;
  left: calc(50% - 42px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.frame-parent1340 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 118px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.frame-parent1339 {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 960px;
  font-family: Inter;
}
.title24 {
  align-self: stretch;
  height: 28px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c24 {
  position: relative;
  font-weight: 300;
}
.tt-c-wrapper22 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  display: flex;
  flex-direction: row;
  padding: 4px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cha-c-wrapper22,
.frame-parent1342 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper22 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent1342 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child765 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind238,
.emailgmailcom24 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom24 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.byewind-parent236,
.rectangle-parent460 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent460 {
  flex-direction: row;
  padding: 4px;
  gap: 8px;
}
.frame-child766 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent1343 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child768 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent1344,
.frame-parent1345,
.frame-parent1346 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent1345,
.frame-parent1346 {
  z-index: 4;
}
.frame-parent1346 {
  z-index: 5;
}
.frame-parent1347,
.frame-parent1348,
.frame-parent1349,
.frame-parent1350,
.frame-parent1351,
.frame-parent1352 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent1348,
.frame-parent1349,
.frame-parent1350,
.frame-parent1351,
.frame-parent1352 {
  z-index: 7;
}
.frame-parent1349,
.frame-parent1350,
.frame-parent1351,
.frame-parent1352 {
  z-index: 8;
}
.frame-parent1350,
.frame-parent1351,
.frame-parent1352 {
  z-index: 9;
}
.frame-parent1351,
.frame-parent1352 {
  z-index: 10;
}
.frame-parent1352 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon24 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button24,
.notifications24 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button24 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications24 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
}
.gi-nguyn9 {
  position: relative;
  font-weight: 500;
}
.gi-nguyn-vng-wrapper7,
.iconoutlinedapplicationbell-wrapper48 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.iconoutlinedapplicationbell-wrapper48 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  padding: 8px;
  align-items: flex-start;
}
.frame-parent1353 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapper337,
.frame-wrapper338 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper338 {
  width: 1500px;
}
.frame-wrapper337 {
  position: absolute;
  top: 40px;
  left: 260px;
  font-size: 42px;
  color: #271e4a;
}
.thuc-tnh-chung2 {
  position: relative;
}
.vd-gii-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconfilleddirectionalcaret-14 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1358 {
  border-radius: 4px;
  border: 1px solid #271e4a;
  box-sizing: border-box;
  width: 530px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 20px;
  font-family: Roboto;
}
.frame-parent1359,
.nu-bn-cha-bit-tnh-cch-c-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nu-bn-cha-bit-tnh-cch-c-group {
  flex-direction: row;
  gap: 4px;
  font-size: 20px;
}
.frame-parent1359 {
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.frame-parent1357 {
  padding: 0 0 0 16px;
}
.frame-parent1357,
.thuc-tnh-chung-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.c-th-chn2 {
  position: relative;
  font-size: 20px;
  font-weight: 300;
}
.thuc-tnh-danh-sch-nguyn-v-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 24px;
}
.iconoutlinedapplicationdele14 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationdele-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #ff2528;
}
.nguyn-vng-1-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icontwo-tonesuggestedquesti3 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1356,
.frame-parent1361,
.frame-parent1363,
.khi-thi-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent1356,
.frame-parent1361,
.frame-parent1363 {
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}
.frame-parent1363 {
  padding: 0 0 0 16px;
  font-size: 24px;
}
.frame-parent1356,
.frame-parent1361 {
  font-size: 20px;
}
.frame-parent1356 {
  gap: 40px;
  font-size: 24px;
}
.iconoutlinedsuggestedplus-parent39 {
  align-self: stretch;
  border-radius: 8px;
  border: 1.5px solid #7b61ff;
  display: flex;
  flex-direction: row;
  padding: 12px 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  color: #7b61ff;
}
.bnh-nhp-thng-tin-group {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1004px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent1383,
.xut-sc-container {
  align-items: flex-start;
  justify-content: center;
}
.xut-sc-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.frame-parent1383 {
  position: absolute;
  top: 238px;
  left: 434px;
  border-radius: 4px;
  background-color: rgba(203, 194, 237, 0.15);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(39, 30, 74, 0.5);
  box-sizing: border-box;
  width: 530px;
  display: none;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  font-size: 14px;
  font-family: Roboto;
}
.frame-child785 {
  position: absolute;
  top: 668px;
  left: 980px;
  border-radius: 8px;
  background-color: #d8d2fc;
  width: 8px;
  height: 64px;
}
.frame-parent1355 {
  position: relative;
  width: 1004px;
  height: 772px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkmark-square-parent149,
.thuc-tnh-chung-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.thuc-tnh-chung-parent1 {
  flex-direction: column;
}
.bng-chn-thuc-tnh-group,
.frame-parent1385,
.thuc-tnh-danh-sch-nguyn-v-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.bng-chn-thuc-tnh-group,
.frame-parent1385 {
  gap: 40px;
}
.frame-parent1385 {
  font-size: 24px;
}
.bng-chn-thuc-tnh-group {
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 456px;
  padding: 40px;
  box-sizing: border-box;
}
.iconoutlinedapplicationbulb-parent16 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  display: flex;
  flex-direction: row;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  color: #fff;
}
.frame-parent1354,
.frame-parent1384 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent1354 {
  position: absolute;
  top: 127px;
  left: calc(50% - 640px);
  border-radius: 40px;
  width: 1500px;
  height: 772px;
  flex-direction: row;
  align-items: flex-start;
  font-size: 36px;
  color: #271e4a;
}
.group-parent14 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.gi-nguyn-vng-scroll-down-1 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Kanit;
}
