.kstcfemale15-icon4 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text36 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.kstcframe-4273190714 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.kstcvuesaxlinearhome-icon4 {
  position: relative;
  width: 36px;
  height: 36px;
}
.text37 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.kstcframe-480954994,
.kstcframe-480955004 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.kstcframe-480955004 {
  background-color: #fff;
}
.kstciconoutlinedapplication10 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.kstcframe-4273190724 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.kstcframe-4273190734 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.kstcvuesaxlineararrow-right-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
}
.kstcframe-4273190745 {
  position: absolute;
  top: 82px;
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.kstcgroup-372435 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 236px;
}
.kho-st-tnh6 {
  position: relative;
  font-weight: 500;
}
.kstcframe-4273191476,
.kstcframe-4273191486 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.kstcframe-4273191476 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  padding: 8px;
  justify-content: flex-start;
}
.kstcframe-4273191486 {
  width: 1498px;
  justify-content: space-between;
}
.kstcrectangle-346240785 {
  flex: 1;
  position: relative;
  border-radius: 10000px;
  background-color: #c2b8ff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  height: 32px;
}
.kstcrectangle-346240794,
.kstcrectangle-346240895 {
  flex: 1;
  position: relative;
  border-radius: 10000px;
  box-shadow: 0 4px 15px rgba(212, 212, 212, 0.64);
  height: 32px;
}
.kstcrectangle-346240794 {
  background: linear-gradient(#c2b8ff, #c2b8ff), rgba(212, 212, 212, 0.64);
}
.kstcrectangle-346240895 {
  background-color: rgba(212, 212, 212, 0.64);
}
.kstcframe-42731937911 {
  flex: 1;
  width: 1252px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.bn-thch-xem {
  position: relative;
}
.kstcellipse-13830,
.kstcellipse-14030 {
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.48;
}
.kstcellipse-13830 {
  background-color: #c2b8ff;
  border: 8px solid #c2b8ff;
  width: 80px;
  height: 80px;
}
.kstcellipse-14030 {
  border: 7px solid #c2b8ff;
  width: 64px;
  height: 64px;
}
.kstcellipse-13930,
.kstcellipse-14128,
.kstcellipse-14229,
.kstcellipse-14328,
.kstcellipse-14530 {
  position: relative;
  border-radius: 50%;
  border: 6px solid #c2b8ff;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  opacity: 0.48;
}
.kstcellipse-13930,
.kstcellipse-14229,
.kstcellipse-14328,
.kstcellipse-14530 {
  border: 6px solid #c7c0d6;
}
.kstcellipse-13930,
.kstcellipse-14328,
.kstcellipse-14530 {
  border: 6px solid #ffbbb6;
}
.kstcellipse-13930,
.kstcellipse-14530 {
  border: 7px solid #ffbbb6;
  width: 64px;
  height: 64px;
}
.kstcellipse-14530 {
  border: 8px solid #ffbbb6;
  width: 80px;
  height: 80px;
}
.kstcframe-42731935330 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.khng-ng30 {
  position: relative;
  font-weight: 500;
  color: #ffbbb6;
}
.kstcframe-4273193625,
.kstcframe-4273193745 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  color: #c2b8ff;
}
.kstcframe-4273193745 {
  border-bottom: 1px solid #e0e9f4;
  flex-direction: column;
  padding: 30px 64px;
  justify-content: flex-start;
  gap: 40px;
  text-align: left;
  color: #271e4a;
}
.kstcellipse-13831 {
  position: relative;
  border-radius: 50%;
  border: 8px solid #c2b8ff;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  opacity: 0.48;
}
.kstcframe-42731936325 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  opacity: 0.4;
  text-align: left;
  color: #c2b8ff;
}
.kstcframe-4273193755 {
  border-bottom: 1px solid #e0e9f4;
  display: flex;
  flex-direction: column;
  padding: 30px 64px;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.kstciconoutlineddirectional9 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.quay-li5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 92px;
  flex-shrink: 0;
}
.kstcframe-4273191595,
.kstcframe-4273191615,
.kstcframe-42731937315 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.kstcframe-42731937315 {
  gap: 8px;
}
.kstcframe-4273191595,
.kstcframe-4273191615 {
  border-radius: 8px;
  background-color: #d4d4d4;
  box-shadow: 0 4px 15px rgba(212, 212, 212, 0.64);
  padding: 8px 40px;
}
.kstcframe-4273191615 {
  background-color: #c2b8ff;
  box-shadow: 0 4px 15px rgba(194, 184, 255, 0.64);
  align-items: flex-start;
}
.kstcframe-42731937314,
.kstcframe-4273193785 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kstcframe-42731937314 {
  flex-direction: row;
  gap: 24px;
  font-size: 24px;
  color: #fff;
}
.kstcframe-4273193785 {
  flex-direction: column;
  gap: 4px;
}
.kstcframe-4273193765,
.kstcframe-42731937910 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.kstcframe-4273193765 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 48px 40px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  font-size: 32px;
  color: #d4d4d4;
}
.kstcframe-42731937910 {
  position: absolute;
  top: 40px;
  left: 260px;
  align-items: flex-start;
  font-size: 42px;
  color: #271e4a;
  font-family: Kanit;
}
.kstcframe-4273190696 {
  position: absolute;
  width: 93.75%;
  top: 60px;
  right: 3.59%;
  left: 2.66%;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  height: 1785px;
  overflow: hidden;
}
.kstc9 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1905px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
