.danh-sch-nguyn19 {
  position: relative;
  font-weight: 500;
}
.iconoutlinedapplicationbell43 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbell-wrapper41 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.danh-sch-nguyn-vng-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.id-user10,
.tn-user9 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 60px;
  flex-shrink: 0;
  opacity: 0.9;
}
.tn-user9 {
  width: 204px;
}
.id-user-parent8 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 88px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  text-align: left;
}
.khi-thi74,
.tn-ngnh76,
.tn-trng-i11 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  opacity: 0.9;
}
.tn-trng-i11 {
  text-align: left;
  width: 280px;
}
.khi-thi74,
.tn-ngnh76 {
  width: 200px;
}
.khi-thi74 {
  width: 68px;
}
.frame-parent1157 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #edf4fc;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 12px 48px 12px 16px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
}
.vuesaxlinearsearch-normal-icon16 {
  position: relative;
  width: 24px;
  height: 24px;
}
.tm-kim15 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vuesaxlinearsearch-normal-parent12 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  color: #b8b8b8;
}
.hng-c-chn14,
.xo12 {
  position: relative;
  font-weight: 300;
}
.xo12 {
  font-weight: 500;
  display: inline-block;
  width: 26px;
  flex-shrink: 0;
}
.iconoutlinedapplicationdele9 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.hng-c-chn-parent12,
.xo-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.xo-parent7 {
  border-radius: 8px;
  background-color: #ff2528;
  box-shadow: 0 4px 15px rgba(255, 163, 158, 0.64);
  width: 72px;
  height: 36px;
  padding: 8px 14px;
  box-sizing: border-box;
  justify-content: center;
  gap: 4px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.hng-c-chn-parent12 {
  align-self: stretch;
  padding: 0 48px 0 0;
  justify-content: space-between;
}
.checkmark-square-icon129 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div249 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 60px;
  flex-shrink: 0;
}
.frame-child628 {
  position: relative;
  border-radius: 8px;
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.nguyn-vn-a138 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 160px;
  flex-shrink: 0;
}
.checkmark-square-parent127,
.rectangle-parent394 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.checkmark-square-parent127 {
  gap: 64px;
  text-align: left;
  color: #3f779b;
}
.trng-i-hc56 {
  position: relative;
  font-weight: 500;
  color: #3f779b;
  text-align: left;
  display: inline-block;
  width: 280px;
  flex-shrink: 0;
}
.iconoutlinededitordelete129 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinededitordelete-wrapper127 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1160,
.frame-wrapper315 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-wrapper315 {
  width: 72px;
  justify-content: center;
}
.frame-parent1160 {
  align-self: stretch;
  border-bottom: 1px solid #e0e9f4;
  padding: 12px 48px 12px 16px;
  justify-content: space-between;
}
.frame-parent1159 {
  text-align: center;
  font-size: 14px;
  color: #271e4a;
}
.frame-parent1156,
.frame-parent1158,
.frame-parent1159 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1158 {
  gap: 8px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent1156 {
  gap: 16px;
}
.vuesaxlineararrow-left-icon15 {
  position: relative;
  width: 16px;
  height: 16px;
}
.vuesaxlineararrow-left-parent13 {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #b8b8b8;
}
.trang-1-trn15 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 150px;
  flex-shrink: 0;
  opacity: 0.9;
}
.frame-parent1168,
.tip-tc-parent22 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tip-tc-parent22 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 8px;
  justify-content: flex-start;
  gap: 4px;
}
.frame-parent1168 {
  align-self: stretch;
  padding: 0 48px;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
}
.frame-parent1154,
.frame-parent1155 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent1155 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  padding: 28px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  font-size: 16px;
}
.frame-parent1154 {
  align-items: flex-start;
  gap: 24px;
}
.cp-nht-frame,
.frame-parent1153,
.frame-parent1154 {
  display: flex;
  justify-content: flex-start;
}
.cp-nht-frame {
  border-radius: 8px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  height: 36px;
  flex-direction: row;
  padding: 8px 40px;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: 14px;
  color: #fff;
}
.frame-parent1153 {
  position: absolute;
  top: calc(50% - 448px);
  left: calc(50% - 624px);
  width: 1500px;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}
.female15-icon41 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text263 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.female15-parent39 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child121,
.dashboard-icon-child122,
.dashboard-icon-child123,
.dashboard-icon-child124 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child122,
.dashboard-icon-child123,
.dashboard-icon-child124 {
  top: 20.73px;
}
.dashboard-icon-child123,
.dashboard-icon-child124 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child124 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.dashboard-icon31 {
  position: relative;
  width: 36px;
  height: 36px;
}
.dashboard-icon-parent29,
.vuesaxlinearcard-edit-parent29 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearcard-edit-parent29 {
  background-color: #fff;
}
.frame-parent1171 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent1170 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 371px;
}
.vuesaxlineararrow-right-wrapper42 {
  position: absolute;
  top: calc(50% - 364px);
  left: 388px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-parent1169 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 388px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent1152 {
  position: absolute;
  top: calc(50% - 488px);
  left: calc(50% - 900px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  height: 976px;
  overflow: hidden;
}
.nguyn-vng-1-3 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 42px;
  color: #271e4a;
  font-family: Kanit;
}
