.chnh-sa-thng6 {
  position: relative;
  font-weight: 500;
}
.iconoutlinedapplicationbell32 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbell-wrapper30 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.chnh-sa-thng-tin-user-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.hc-sinh6,
.nguyn-vn-a51 {
  position: relative;
  font-weight: 500;
}
.nguyn-vn-a51 {
  font-size: 24px;
}
.hc-sinh6 {
  line-height: 18px;
}
.hc-sinh-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper228,
.frame-wrapper229 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper229 {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper228 {
  border-radius: 8px;
  background-color: #fcddec;
  width: 183px;
  flex-direction: row;
  padding: 4px 8px;
  box-sizing: border-box;
  color: #e94b9c;
}
.admin6 {
  position: relative;
  line-height: 18px;
  font-weight: 300;
}
.frame-wrapper230,
.nguyn-vn-a-parent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper230 {
  border-radius: 8px;
  background-color: #e6f7ff;
  width: 183px;
  padding: 4px 8px;
  box-sizing: border-box;
  color: #1890ff;
}
.nguyn-vn-a-parent4 {
  gap: 16px;
}
.ios-chevron-right12 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.quay-li12 {
  position: relative;
  font-weight: 300;
}
.ios-chevron-right-parent4 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.div94 {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: rgba(39, 30, 74, 0.8);
  text-align: center;
  display: inline-block;
  width: 52px;
  flex-shrink: 0;
}
.frame-parent894,
.tip-tc-parent10 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tip-tc-parent10 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 8px;
  justify-content: flex-end;
  gap: 4px;
}
.frame-parent894 {
  justify-content: center;
  gap: 16px;
  font-size: 14px;
}
.frame-child541 {
  position: relative;
  border-radius: 40px;
  width: 260px;
  height: 260px;
  object-fit: cover;
}
.nguyn-wrapper4 {
  align-self: stretch;
  border-bottom: 1px solid #271e4a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgba(39, 30, 74, 0.8);
}
.h-parent4 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.h-parent4,
.tn-parent4,
.vn-a-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vn-a-wrapper4 {
  align-self: stretch;
  border-bottom: 1px solid rgba(39, 30, 74, 0.5);
  flex-direction: row;
}
.tn-parent4 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent897 {
  color: #271e4a;
}
.frame-parent897,
.frame-parent898 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 32px;
}
.ti-nh6 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
}
.browe-image-wrapper4 {
  border-radius: 4px;
  background-color: #79cfa6;
  display: flex;
  flex-direction: row;
  padding: 4px 12px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: #fff;
}
.abcdefjpeg-parent4,
.frame-wrapper232 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.frame-wrapper232 {
  border-bottom: 1px solid rgba(39, 30, 74, 0.5);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-parent896,
.mt-khu-parent4,
.ti-nh-parent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ti-nh-parent4 {
  flex: 1;
  align-items: flex-end;
}
.frame-parent896,
.mt-khu-parent4 {
  align-self: stretch;
  align-items: flex-start;
  gap: 24px;
}
.mt-khu-parent4 {
  gap: 8px;
}
.hu-b-wrapper15 {
  border-radius: 8px;
  border: 1.5px solid #ca79c6;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent900,
.hu-b-wrapper15,
.xc-nhn-wrapper20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper20 {
  border-radius: 8px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent900 {
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #ca79c6;
}
.frame-parent895,
.rectangle-parent307 {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}
.frame-parent895 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.rectangle-parent307 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent891,
.frame-parent892,
.frame-wrapper227 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent892 {
  align-self: stretch;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  padding: 28px;
  gap: 28px;
}
.frame-parent891,
.frame-wrapper227 {
  width: 1500px;
}
.frame-wrapper227 {
  font-size: 12px;
}
.frame-parent891 {
  position: absolute;
  top: 40px;
  left: 260px;
  gap: 24px;
}
.female15-icon29 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text191 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.female15-parent27 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child73,
.dashboard-icon-child74,
.dashboard-icon-child75,
.dashboard-icon-child76 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child74,
.dashboard-icon-child75,
.dashboard-icon-child76 {
  top: 20.73px;
}
.dashboard-icon-child75,
.dashboard-icon-child76 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child76 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.dashboard-icon19 {
  position: relative;
  width: 36px;
  height: 36px;
}
.dashboard-icon-parent17,
.vuesaxlinearprofile-2user-parent17 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearprofile-2user-parent17 {
  background-color: #fff;
}
.frame-parent903 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent902 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 371px;
}
.vuesaxlineararrow-right-icon38 {
  position: relative;
  width: 24px;
  height: 24px;
}
.vuesaxlineararrow-right-wrapper30 {
  position: absolute;
  top: calc(50% - 364px);
  left: 388px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-parent901 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 388px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent890 {
  position: absolute;
  top: calc(50% - 486px);
  left: calc(50% - 900px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  height: 972px;
  overflow: hidden;
}
.qun-l-ngi-dng-chi-tit-1 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 42px;
  color: #271e4a;
  font-family: Kanit;
}
