.chnh-sa-thng2 {
  position: relative;
  font-weight: 500;
}
.iconoutlinedapplicationbell28 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbell-wrapper26 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.chnh-sa-thng-tin-user-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.hc-sinh2,
.nguyn-vn-a47 {
  position: relative;
  font-weight: 500;
}
.nguyn-vn-a47 {
  font-size: 24px;
}
.hc-sinh2 {
  line-height: 18px;
}
.frame-wrapper199,
.hc-sinh-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper199 {
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.frame-wrapper198 {
  border-radius: 8px;
  background-color: #fcddec;
  width: 183px;
  padding: 4px 8px;
  box-sizing: border-box;
  color: #e94b9c;
}
.frame-wrapper198,
.frame-wrapper200,
.nguyn-vn-a-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper200 {
  border-radius: 8px;
  background-color: #e6f7ff;
  width: 183px;
  padding: 4px 8px;
  box-sizing: border-box;
  color: #1890ff;
}
.nguyn-vn-a-container {
  gap: 16px;
}
.ios-chevron-right4 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.quay-li8 {
  position: relative;
  font-weight: 300;
}
.ios-chevron-right-container {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.div90 {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: rgba(39, 30, 74, 0.8);
  text-align: center;
  display: inline-block;
  width: 52px;
  flex-shrink: 0;
}
.frame-parent828,
.tip-tc-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tip-tc-parent6 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 8px;
  justify-content: flex-end;
  gap: 4px;
}
.frame-parent828 {
  justify-content: center;
  gap: 16px;
  font-size: 14px;
}
.frame-child537 {
  position: relative;
  border-radius: 40px;
  width: 260px;
  height: 260px;
  object-fit: cover;
}
.nguyn-frame {
  align-self: stretch;
  border-bottom: 1px solid #271e4a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgba(39, 30, 74, 0.8);
}
.h-container {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.h-container,
.tn-container,
.vn-a-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vn-a-frame {
  align-self: stretch;
  border-bottom: 1px solid rgba(39, 30, 74, 0.5);
  flex-direction: row;
}
.tn-container {
  flex: 1;
  flex-direction: column;
  gap: 8px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent831 {
  color: #271e4a;
}
.frame-parent831,
.frame-parent832 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 32px;
}
.ti-nh2 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
}
.browe-image-frame {
  border-radius: 4px;
  background-color: #79cfa6;
  display: flex;
  flex-direction: row;
  padding: 4px 12px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: #fff;
}
.abcdefjpeg-container,
.frame-wrapper202 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.frame-wrapper202 {
  border-bottom: 1px solid rgba(39, 30, 74, 0.5);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-parent830,
.mt-khu-container,
.ti-nh-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ti-nh-container {
  flex: 1;
  align-items: flex-end;
}
.frame-parent830,
.mt-khu-container {
  align-self: stretch;
  align-items: flex-start;
  gap: 24px;
}
.mt-khu-container {
  gap: 8px;
}
.hu-b-wrapper9 {
  border-radius: 8px;
  border: 1.5px solid #ca79c6;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent834,
.hu-b-wrapper9,
.xc-nhn-wrapper14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper14 {
  border-radius: 8px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent834 {
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #ca79c6;
}
.frame-parent829,
.rectangle-parent303 {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}
.frame-parent829 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.rectangle-parent303 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent825,
.frame-parent826,
.frame-wrapper197 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent826 {
  align-self: stretch;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  padding: 28px;
  gap: 28px;
}
.frame-parent825,
.frame-wrapper197 {
  width: 1500px;
}
.frame-wrapper197 {
  font-size: 12px;
}
.frame-parent825 {
  position: absolute;
  top: 40px;
  left: 260px;
  gap: 24px;
}
.female15-icon25 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text167 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.female15-parent23 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child57,
.dashboard-icon-child58,
.dashboard-icon-child59,
.dashboard-icon-child60 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child58,
.dashboard-icon-child59,
.dashboard-icon-child60 {
  top: 20.73px;
}
.dashboard-icon-child59,
.dashboard-icon-child60 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child60 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.dashboard-icon15 {
  position: relative;
  width: 36px;
  height: 36px;
}
.dashboard-icon-parent13,
.vuesaxlinearprofile-2user-parent13 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearprofile-2user-parent13 {
  background-color: #fff;
}
.frame-parent837 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent836 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 371px;
}
.vuesaxlineararrow-right-icon34 {
  position: relative;
  width: 24px;
  height: 24px;
}
.vuesaxlineararrow-right-wrapper26 {
  position: absolute;
  top: calc(50% - 364px);
  left: 388px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-parent835 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 388px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent824 {
  position: absolute;
  top: calc(50% - 486px);
  left: calc(50% - 900px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  height: 972px;
  overflow: hidden;
}
.qun-l-ngi-dng-chi-tit-c-item {
  position: absolute;
  top: calc(50% - 540px);
  left: calc(50% - 960px);
  background-color: rgba(212, 212, 212, 0.15);
  width: 1920px;
  height: 1080px;
}
.vuesaxlineartick-circle-icon2 {
  position: relative;
  width: 48px;
  height: 48px;
}
.bn-cp {
  font-weight: 300;
}
.user120 {
  font-weight: 500;
}
.bn-cp-container1 {
  line-break: anywhere;
  width: 100%;
}
.bn-cp-container {
  position: relative;
  font-size: 14px;
  color: #555;
  text-align: center;
  display: flex;
  align-items: center;
  width: 311px;
}
.vuesaxlineartick-circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.ok-frame {
  border-radius: 24px;
  background-color: #2eb553;
  box-shadow: 0 4px 15px #79cfa6;
  width: 311px;
  display: flex;
  flex-direction: row;
  padding: 18px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-wrapper204 {
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.frame-parent839,
.frame-wrapper203,
.frame-wrapper204 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent839 {
  gap: 16px;
}
.frame-wrapper203 {
  position: absolute;
  top: calc(50% - 122px);
  left: calc(50% - 187.5px);
  border-radius: 24px;
  background-color: #fff;
  padding: 24px 32px 34px;
}
.x-icon5 {
  position: absolute;
  top: 0;
  left: 327px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.frame-parent838 {
  position: absolute;
  top: calc(50% - 122px);
  left: calc(50% - 187px);
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 375px;
  height: 244px;
  font-size: 18px;
  color: #2eb553;
}
.qun-l-ngi-dng-chi-tit-c1 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 42px;
  color: #271e4a;
  font-family: Kanit;
}
