.sign-up-4-1-child,
.sign-up-4-1-item {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.sign-up-4-1-item {
  top: 486px;
  left: -310px;
}
.logo-icon5 {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.nhp-thng-tin1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.google-icon4 {
  position: relative;
  width: 32px;
  height: 32px;
}
.ng-nhp-bng4 {
  position: relative;
  font-weight: 300;
}
.google-parent2,
.nhp-thng-tin-ng-k-no-group {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.google-parent2 {
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  flex-direction: row;
  padding: 16px 34px;
  justify-content: center;
  gap: 16px;
  font-size: 20px;
}
.nhp-thng-tin-ng-k-no-group {
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.or-child6 {
  position: relative;
  width: 151px;
  height: 1px;
}
.frame-parent1715,
.or4 {
  align-self: stretch;
  display: flex;
}
.or4 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 20px;
}
.frame-parent1715 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.email15 {
  position: relative;
}
.sooyaaa334455gmailcom5 {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.div334,
.sooyaaa334455gmailcom-wrapper3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sooyaaa334455gmailcom-wrapper3 {
  border-radius: 1000px;
  background-color: #f2f5ff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  flex-direction: row;
  padding: 16px 34px;
  color: #798397;
}
.div334 {
  flex-direction: column;
  gap: 8px;
}
.frame-parent1717,
.nguyn-wrapper8,
.tn-ng-nhp-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nguyn-wrapper8 {
  flex: 1;
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 16px 34px;
  align-items: flex-start;
}
.frame-parent1717,
.tn-ng-nhp-container {
  align-self: stretch;
  color: #b8b8b8;
}
.frame-parent1717 {
  align-items: center;
  gap: 24px;
}
.tn-ng-nhp-container {
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 16px 34px;
  align-items: flex-start;
}
.mt-khu18 {
  position: relative;
  opacity: 0;
}
.vuesaxlineareye-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
}
.div337,
.mt-khu-parent11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.mt-khu-parent11 {
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px #ffa39e;
  border: 1px solid #ff7875;
  flex-direction: row;
  padding: 16px 34px;
  justify-content: space-between;
  color: #b8b8b8;
}
.div337 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  color: #ff7875;
}
.frame-child944 {
  position: relative;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 8px;
  height: 8px;
}
.ellipse-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  opacity: 0;
}
.frame-parent1718 {
  align-self: stretch;
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 4px 15px #ffa39e;
  border: 1px solid #ff7875;
  display: flex;
  flex-direction: row;
  padding: 16px 34px;
  align-items: center;
  justify-content: space-between;
}
.bn-phi-nhp {
  position: relative;
  font-size: 14px;
  font-weight: 300;
}
.parent36,
.parent37 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent37 {
  gap: 12px;
  color: #ff7875;
}
.parent36 {
  gap: 20px;
  text-align: left;
}
.iu-khon1 {
  text-decoration: underline;
  color: #4a72ff;
}
.ng-k-bn-container1 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 457px;
}
.div339 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ng-k7 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 101px;
}
.div341 {
  align-self: stretch;
  border-radius: 28px;
  background-color: #4a72ff;
  box-shadow: 0 4px 15px rgba(110, 142, 255, 0.64);
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 77px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.span1 {
  color: #2b3241;
}
.ng-nhp10 {
  color: #6e8eff;
}
.bn-c-container1 {
  position: relative;
  font-size: 16px;
  font-family: Poppins;
  color: #271e4a;
}
.div340,
.frame-parent1714,
.frame-parent1716 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.div340 {
  align-self: stretch;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: #fff;
}
.frame-parent1714,
.frame-parent1716 {
  gap: 24px;
}
.frame-parent1716 {
  align-items: flex-start;
  font-size: 16px;
}
.frame-parent1714 {
  position: absolute;
  top: calc(50% - 521px);
  left: calc(50% - 268px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 40px;
  align-items: center;
}
.sign-up-4-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
