.thng-tin-cc32 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.chnh-sa47 {
  position: relative;
  font-size: 24px;
  color: #b8b8b8;
}
.thng-tin-cc-trng-i-hc-parent30 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.vuesaxlinearsearch-normal-icon26 {
  position: relative;
  width: 24px;
  height: 24px;
}
.tm-kim25 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vuesaxlinearsearch-normal-parent22 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1420px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 24px;
  color: #b8b8b8;
}
.frame-parent2114 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.image-25-icon29 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 83px);
  width: 166px;
  height: 166px;
  object-fit: cover;
}
.image-25-wrapper27 {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 166px;
  height: 166px;
  overflow: hidden;
  flex-shrink: 0;
}
.i-hc-ngoi80,
.thng-mi-hai23 {
  position: relative;
}
.thng-mi-hai23 {
  font-weight: 300;
}
.by-parent25,
.vuesaxlineartimer-parent25 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.by-parent25 {
  align-items: flex-start;
}
.frame-parent2116 {
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
}
.frame-parent2115,
.frame-parent2116,
.i-hc-ngoi-thng-c-s-h-n-parent24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-hc-ngoi-thng-c-s-h-n-parent24 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.frame-parent2115 {
  width: 1420px;
  flex-direction: row;
  gap: 24px;
}
.tng-quan21 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper458 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc81 {
  font-family: Kanit;
}
.tn-ting-anh21 {
  font-weight: 300;
}
.trng-i-hc-ngoi-thng-t21 {
  margin: 0;
}
.c-thnh-lp21 {
  margin: 0;
  font-weight: 300;
}
.trng-i-hc-container21 {
  position: relative;
  font-size: 20px;
  display: inline-block;
  width: 1420px;
}
.s-mng-ca21 {
  font-size: 20px;
}
.n-nm-203042,
.s-mng-ca21 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 1420px;
}
.n-nm-2030-trng-i-hc-ngo-parent19 {
  gap: 16px;
  font-size: 20px;
}
.frame-parent2113,
.n-nm-2030-trng-i-hc-ngo-parent19,
.trng-i-hc-ngoi-thng-t-parent19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc-ngoi-thng-t-parent19 {
  gap: 24px;
  font-size: 32px;
}
.frame-parent2113 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;
}
.c-s-vt-cht-parent19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper459 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconoutlinedsuggestedplus92 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent80 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #7b61ff;
}
.nhm-ngnh-ngn-ng-vn-ho-parent19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.khi-thi140,
.m-ngnh104,
.tn-ngnh114 {
  position: relative;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.khi-thi140,
.tn-ngnh114 {
  width: 400px;
}
.khi-thi140 {
  width: 300px;
}
.m-ngnh-parent102 {
  align-self: stretch;
  background-color: #edf4fc;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: space-between;
}
.d0154,
.ngn-ng-anh49,
.nth0425 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.d0154,
.ngn-ng-anh49 {
  width: 400px;
}
.d0154 {
  width: 300px;
}
.nth04-parent23 {
  width: 1420px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent2123 {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  justify-content: flex-start;
}
.frame-parent2121,
.frame-parent2123 {
  align-items: flex-start;
  gap: 16px;
}
.frame-parent2120,
.frame-parent2121,
.frame-wrapper460 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper460 {
  padding: 0 4px;
  align-items: flex-start;
}
.frame-parent2120 {
  align-items: center;
  gap: 24px;
  font-size: 20px;
}
.iconoutlinedsuggestedplus96 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent84 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px rgba(123, 97, 255, 0.64);
  display: flex;
  flex-direction: row;
  padding: 16px 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  color: #fff;
}
.hu-b-wrapper27 {
  border-radius: 8px;
  border: 1.5px solid #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent2131,
.hu-b-wrapper27,
.xc-nhn-wrapper38 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper38 {
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent2131 {
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #7b61ff;
}
.frame-parent2112,
.frame-parent2119 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent2119 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-end;
}
.frame-parent2112 {
  position: absolute;
  top: 127px;
  left: 260px;
  align-items: center;
}
.thng-bo55 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.title39,
.tt-c-wrapper37 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.title39 {
  align-self: stretch;
  height: 28px;
  padding: 0 0 0 4px;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c-wrapper37 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  padding: 4px 16px;
  justify-content: center;
}
.cha-c-wrapper37,
.frame-parent2132 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper37 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent2132 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child1244 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind386,
.emailgmailcom39 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom39 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.rectangle-parent701 {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child1245 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent2133 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child1247 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent2134,
.frame-parent2135,
.frame-parent2136 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent2135,
.frame-parent2136 {
  z-index: 4;
}
.frame-parent2136 {
  z-index: 5;
}
.frame-parent2137,
.frame-parent2138,
.frame-parent2139,
.frame-parent2140,
.frame-parent2141,
.frame-parent2142 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent2138,
.frame-parent2139,
.frame-parent2140,
.frame-parent2141,
.frame-parent2142 {
  z-index: 7;
}
.frame-parent2139,
.frame-parent2140,
.frame-parent2141,
.frame-parent2142 {
  z-index: 8;
}
.frame-parent2140,
.frame-parent2141,
.frame-parent2142 {
  z-index: 9;
}
.frame-parent2141,
.frame-parent2142 {
  z-index: 10;
}
.frame-parent2142 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon39 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button39,
.notifications39 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button39 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications39 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #1c1c1c;
}
.thng-tin-tuyn19 {
  position: relative;
  font-size: 42px;
  font-weight: 500;
}
.xt-tuyn-i-hc-wrapper20 {
  border-bottom: 2px solid #271e4a;
}
.nhm-tnh-cch-wrapper20,
.thng-tin-tuyn-sinh-parent17,
.xt-tuyn-i-hc-wrapper20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-tin-tuyn-sinh-parent17 {
  align-items: flex-end;
  gap: 24px;
}
.iconoutlinedapplicationbell70 {
  position: relative;
  width: 36px;
  height: 36px;
}
.iconoutlinedapplicationbell-wrapper68 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2143 {
  width: 1498px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapper462 {
  position: absolute;
  top: 40px;
  left: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 32px;
}
.female15-icon67 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.female15-parent65 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child185,
.dashboard-icon-child186,
.dashboard-icon-child187,
.dashboard-icon-child188 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child186,
.dashboard-icon-child187,
.dashboard-icon-child188 {
  top: 20.73px;
}
.dashboard-icon-child187,
.dashboard-icon-child188 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child188 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.text423 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.dashboard-icon-parent45,
.vuesaxlinearinfo-circle-parent68 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent68 {
  background-color: #fff;
}
.frame-parent2146 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent2145 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.vuesaxlineararrow-right-wrapper69 {
  position: absolute;
  top: calc(50% - 1788px);
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent2144 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 236px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent2111 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.thng-tin-tuyn-sinh-chnh-sa3 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 4032px;
  overflow: hidden;
  text-align: left;
  font-size: 36px;
  color: #271e4a;
  font-family: Kanit;
}
