.thng-tin-cc17 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.chnh-sa22 {
  position: relative;
  font-size: 24px;
  color: #b8b8b8;
}
.thng-tin-cc-trng-i-hc-parent15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.vuesaxlinearsearch-normal-icon11 {
  position: relative;
  width: 24px;
  height: 24px;
}
.tm-kim11 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vuesaxlinearsearch-normal-parent9 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1420px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 24px;
  color: #b8b8b8;
}
.frame-parent557 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.image-25-icon18 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 83px);
  width: 166px;
  height: 166px;
  object-fit: cover;
}
.image-25-wrapper16 {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 166px;
  height: 166px;
  overflow: hidden;
  flex-shrink: 0;
}
.i-hc-ngoi40,
.thng-mi-hai13 {
  position: relative;
}
.thng-mi-hai13 {
  font-weight: 300;
}
.by-parent15,
.vuesaxlineartimer-parent15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.by-parent15 {
  align-items: flex-start;
}
.frame-parent559 {
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
}
.frame-parent558,
.frame-parent559,
.i-hc-ngoi-thng-c-s-h-n-parent10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-hc-ngoi-thng-c-s-h-n-parent10 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.frame-parent558 {
  width: 1420px;
  flex-direction: row;
  gap: 24px;
}
.tng-quan11 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper126 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc11 {
  font-family: Kanit;
}
.tn-ting-anh11 {
  font-weight: 300;
}
.trng-i-hc-ngoi-thng-t11 {
  margin: 0;
}
.c-thnh-lp11 {
  margin: 0;
  font-weight: 300;
}
.trng-i-hc-container11 {
  position: relative;
  font-size: 20px;
  display: inline-block;
  width: 1420px;
}
.s-mng-ca11 {
  font-size: 20px;
}
.n-nm-203022,
.s-mng-ca11 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 1420px;
}
.n-nm-2030-trng-i-hc-ngo-parent9 {
  gap: 16px;
  font-size: 20px;
}
.frame-parent556,
.n-nm-2030-trng-i-hc-ngo-parent9,
.trng-i-hc-ngoi-thng-t-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc-ngoi-thng-t-parent9 {
  gap: 24px;
  font-size: 32px;
}
.frame-parent556 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;
}
.c-s-vt-cht-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper127 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconoutlinedsuggestedplus40 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent33 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #7b61ff;
}
.nhm-ngnh-ngn-ng-vn-ho-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.khi-thi44,
.m-ngnh44,
.tn-ngnh44 {
  position: relative;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.khi-thi44,
.tn-ngnh44 {
  width: 400px;
}
.khi-thi44 {
  width: 300px;
}
.m-ngnh-parent42 {
  align-self: stretch;
  background-color: #edf4fc;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: space-between;
}
.d0122,
.ngn-ng-anh12,
.nth0411 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.d0122,
.ngn-ng-anh12 {
  width: 400px;
}
.d0122 {
  width: 300px;
}
.nth04-parent9 {
  width: 1420px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent566 {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  justify-content: flex-start;
}
.frame-parent564,
.frame-parent566 {
  align-items: flex-start;
  gap: 16px;
}
.frame-parent563,
.frame-parent564,
.frame-wrapper128 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper128 {
  padding: 0 4px;
  align-items: flex-start;
}
.frame-parent563 {
  align-items: center;
  gap: 24px;
  font-size: 20px;
}
.iconoutlinedsuggestedplus44 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent37 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px rgba(123, 97, 255, 0.64);
  display: flex;
  flex-direction: row;
  padding: 16px 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  color: #fff;
}
.hu-b-wrapper6 {
  border-radius: 8px;
  border: 1.5px solid #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent574,
.hu-b-wrapper6,
.xc-nhn-wrapper11 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper11 {
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent574 {
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #7b61ff;
}
.frame-parent555,
.frame-parent562 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent562 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-end;
}
.frame-parent555 {
  position: absolute;
  top: 127px;
  left: 260px;
  align-items: center;
}
.thng-bo14 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.title12,
.tt-c-wrapper10 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.title12 {
  align-self: stretch;
  height: 28px;
  padding: 0 0 0 4px;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c-wrapper10 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  padding: 4px 16px;
  justify-content: center;
}
.cha-c-wrapper10,
.frame-parent575 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper10 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent575 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child355 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind118,
.emailgmailcom12 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom12 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.rectangle-parent211 {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child356 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent576 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child358 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent577,
.frame-parent578,
.frame-parent579 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent578,
.frame-parent579 {
  z-index: 4;
}
.frame-parent579 {
  z-index: 5;
}
.frame-parent580,
.frame-parent581,
.frame-parent582,
.frame-parent583,
.frame-parent584,
.frame-parent585 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent581,
.frame-parent582,
.frame-parent583,
.frame-parent584,
.frame-parent585 {
  z-index: 7;
}
.frame-parent582,
.frame-parent583,
.frame-parent584,
.frame-parent585 {
  z-index: 8;
}
.frame-parent583,
.frame-parent584,
.frame-parent585 {
  z-index: 9;
}
.frame-parent584,
.frame-parent585 {
  z-index: 10;
}
.frame-parent585 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon12 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button12,
.notifications12 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button12 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications12 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #1c1c1c;
}
.thng-tin-tuyn10 {
  position: relative;
  font-size: 42px;
  font-weight: 500;
}
.xt-tuyn-i-hc-wrapper10 {
  border-bottom: 2px solid #271e4a;
}
.nhm-tnh-cch-wrapper10,
.thng-tin-tuyn-sinh-parent8,
.xt-tuyn-i-hc-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-tin-tuyn-sinh-parent8 {
  align-items: flex-end;
  gap: 24px;
}
.iconoutlinedapplicationbell17 {
  position: relative;
  width: 36px;
  height: 36px;
}
.iconoutlinedapplicationbell-wrapper15 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent586 {
  width: 1498px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapper130 {
  position: absolute;
  top: 40px;
  left: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 32px;
}
.female15-icon14 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.female15-parent12 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child45,
.dashboard-icon-child46,
.dashboard-icon-child47,
.dashboard-icon-child48 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child46,
.dashboard-icon-child47,
.dashboard-icon-child48 {
  top: 20.73px;
}
.dashboard-icon-child47,
.dashboard-icon-child48 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child48 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.text102 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.dashboard-icon-parent10,
.vuesaxlinearinfo-circle-parent15 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent15 {
  background-color: #fff;
}
.frame-parent589 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent588 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.vuesaxlineararrow-right-wrapper15 {
  position: absolute;
  top: calc(50% - 1788px);
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent587 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 236px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent554 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.thongtintuyensinhchinhsua1 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 4032px;
  overflow: hidden;
  text-align: left;
  font-size: 36px;
  color: #271e4a;
  font-family: Kanit;
}
