.thng-bo53 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.title38 {
  align-self: stretch;
  height: 28px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c38 {
  position: relative;
  font-weight: 300;
}
.tt-c-wrapper36 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  display: flex;
  flex-direction: row;
  padding: 4px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cha-c-wrapper36,
.frame-parent2073 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper36 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent2073 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child1224 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.emailgmailcom38,
.ngi-dng-mi4 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom38 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.ngi-dng-mi-ng-k-container,
.rectangle-parent691 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent691 {
  flex-direction: row;
  padding: 4px;
  gap: 8px;
}
.frame-child1225 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent2074 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child1227 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent2075,
.frame-parent2076,
.frame-parent2077 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent2076,
.frame-parent2077 {
  z-index: 4;
}
.frame-parent2077 {
  z-index: 5;
}
.frame-parent2078,
.frame-parent2079,
.frame-parent2080,
.frame-parent2081,
.frame-parent2082,
.frame-parent2083 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent2079,
.frame-parent2080,
.frame-parent2081,
.frame-parent2082,
.frame-parent2083 {
  z-index: 7;
}
.frame-parent2080,
.frame-parent2081,
.frame-parent2082,
.frame-parent2083 {
  z-index: 8;
}
.frame-parent2081,
.frame-parent2082,
.frame-parent2083 {
  z-index: 9;
}
.frame-parent2082,
.frame-parent2083 {
  z-index: 10;
}
.frame-parent2083 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon38 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button38,
.notifications38 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button38 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications38 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.trang-ch4 {
  font-size: 42px;
  display: inline-block;
  width: 208px;
  height: 64px;
  flex-shrink: 0;
}
.trang-ch4,
.xt-tuyn-i21 {
  position: relative;
  font-weight: 500;
}
.xt-tuyn-i-hc-wrapper19 {
  border-bottom: 2px solid #271e4a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nhm-tnh-cch23 {
  position: relative;
}
.nhm-tnh-cch-wrapper19,
.trang-ch-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trang-ch-parent2 {
  align-items: flex-end;
  gap: 24px;
}
.iconoutlinedapplicationbell69 {
  position: relative;
  width: 36px;
  height: 36px;
}
.iconoutlinedapplicationbell-wrapper67 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2085 {
  width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapper451 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chnh-sa44 {
  position: relative;
  font-size: 24px;
  color: #b8b8b8;
}
.thng-tin-cc-trng-i-hc-parent29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.image-25-icon28 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 83px);
  width: 166px;
  height: 166px;
  object-fit: cover;
}
.image-25-wrapper26 {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 166px;
  height: 166px;
  overflow: hidden;
  flex-shrink: 0;
}
.vuesaxlineartimer-icon26 {
  position: relative;
  width: 24px;
  height: 24px;
}
.by-parent24,
.vuesaxlineartimer-parent24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.by-parent24 {
  align-items: flex-start;
}
.frame-parent2089 {
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
}
.frame-parent2088,
.frame-parent2089,
.i-hc-ngoi-thng-c-s-h-n-parent23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-hc-ngoi-thng-c-s-h-n-parent23 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.frame-parent2088 {
  width: 1420px;
  flex-direction: row;
  gap: 24px;
}
.trng-i-hc80 {
  font-family: Kanit;
}
.tn-ting-anh20 {
  font-weight: 300;
}
.trng-i-hc-ngoi-thng-t20 {
  margin: 0;
}
.c-thnh-lp20 {
  margin: 0;
  font-weight: 300;
}
.trng-i-hc-container20 {
  position: relative;
  font-size: 20px;
  display: inline-block;
  width: 1420px;
}
.s-mng-ca20 {
  font-size: 20px;
}
.n-nm-203040,
.s-mng-ca20 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 1420px;
}
.n-nm-2030-trng-i-hc-ngo-parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 20px;
}
.trng-i-hc-ngoi-thng-t-parent18 {
  font-size: 32px;
}
.frame-parent2090,
.trng-i-hc-ngoi-thng-t-parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.frame-parent2087 {
  gap: 40px;
}
.frame-parent2087,
.frame-wrapper454 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconoutlinedsuggestedplus87 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent75 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #7b61ff;
}
.nhm-ngnh-ngn-ng-vn-ho-parent18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.khi-thi136,
.m-ngnh100,
.tn-ngnh110 {
  position: relative;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.khi-thi136,
.tn-ngnh110 {
  width: 400px;
}
.khi-thi136 {
  width: 300px;
}
.m-ngnh-parent98 {
  align-self: stretch;
  background-color: #edf4fc;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: space-between;
}
.d0152,
.ngn-ng-anh48,
.nth0424 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.d0152,
.ngn-ng-anh48 {
  width: 400px;
}
.d0152 {
  width: 300px;
}
.nth04-parent22 {
  width: 1420px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent2096 {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  justify-content: flex-start;
}
.frame-parent2094,
.frame-parent2096 {
  align-items: flex-start;
  gap: 16px;
}
.frame-parent2093,
.frame-parent2094,
.frame-wrapper455 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper455 {
  padding: 0 4px;
  align-items: flex-start;
}
.frame-parent2093 {
  align-items: center;
  gap: 24px;
  font-size: 20px;
}
.iconoutlinedsuggestedplus91 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent79 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px rgba(123, 97, 255, 0.64);
  display: flex;
  flex-direction: row;
  padding: 16px 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  color: #fff;
}
.hu-b-wrapper26 {
  border-radius: 8px;
  border: 1.5px solid #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent2104,
.hu-b-wrapper26,
.xc-nhn-wrapper36 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper36 {
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent2104 {
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #7b61ff;
}
.frame-parent2086,
.frame-parent2092 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent2092 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-end;
}
.frame-parent2086 {
  position: absolute;
  top: 88px;
  left: 0;
  align-items: center;
  font-size: 36px;
}
.frame-parent2084 {
  position: absolute;
  bottom: 1px;
  left: 260px;
  width: 1500px;
  height: 3740px;
  overflow: hidden;
  font-size: 32px;
  color: #271e4a;
}
.female15-icon66 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.female15-parent64 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child181,
.dashboard-icon-child182,
.dashboard-icon-child183,
.dashboard-icon-child184 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child182,
.dashboard-icon-child183,
.dashboard-icon-child184 {
  top: 20.73px;
}
.dashboard-icon-child183,
.dashboard-icon-child184 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child184 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.text417 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.dashboard-icon-parent44,
.vuesaxlinearinfo-circle-parent67 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent67 {
  background-color: #fff;
}
.frame-parent2107 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent2106 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.vuesaxlineararrow-right-wrapper68 {
  position: absolute;
  top: calc(50% - 358px);
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent2105 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 236px;
  font-size: 20px;
  font-family: Inter;
}
.notifications-group {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.thng-tin-tuyn-sinh-chnh-sa-child {
  position: absolute;
  top: calc(50% - 540px);
  left: calc(50% - 960px);
  background-color: rgba(212, 212, 212, 0.15);
  width: 1920px;
  height: 1080px;
}
.vuesaxlineardanger-icon8 {
  position: relative;
  width: 48px;
  height: 48px;
}
.bn-mun-thay2 {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #555;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 311px;
}
.vuesaxlineardanger-parent6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.xc-nhn-wrapper37 {
  border-radius: 24px;
  background-color: #1890ff;
  box-shadow: 0 4px 15px rgba(255, 200, 129, 0.64);
  width: 311px;
  display: flex;
  flex-direction: row;
  padding: 18px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cancel8 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.cancel-wrapper6,
.frame-parent2110,
.frame-wrapper457 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cancel-wrapper6 {
  border-radius: 10px;
  width: 311px;
  flex-direction: row;
  color: #1890ff;
}
.frame-parent2110,
.frame-wrapper457 {
  flex-direction: column;
}
.frame-parent2110 {
  gap: 16px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.frame-wrapper457 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px;
  background-color: #fff;
  padding: 24px 32px 34px;
}
.x-icon15 {
  position: absolute;
  top: 0;
  left: 325px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.frame-parent2108 {
  position: absolute;
  top: calc(50% - 141px);
  left: calc(50% - 187px);
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 375px;
  height: 282px;
  font-size: 18px;
  color: #1890ff;
}
.thng-tin-tuyn-sinh-chnh-sa2 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #1c1c1c;
  font-family: Kanit;
}
