.thng-tin-cc28 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.chnh-sa34 {
  position: relative;
  font-size: 24px;
  color: #b8b8b8;
}
.thng-tin-cc-trng-i-hc-parent26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.vuesaxlinearsearch-normal-icon23 {
  position: relative;
  width: 24px;
  height: 24px;
}
.tm-kim22 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vuesaxlinearsearch-normal-parent19 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1420px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 24px;
  color: #b8b8b8;
}
.frame-parent1967 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.image-25-icon25 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 83px);
  width: 166px;
  height: 166px;
  object-fit: cover;
}
.image-25-wrapper23 {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 166px;
  height: 166px;
  overflow: hidden;
  flex-shrink: 0;
}
.i-hc-ngoi68,
.thng-mi-hai19 {
  position: relative;
}
.thng-mi-hai19 {
  font-weight: 300;
}
.by-parent21,
.vuesaxlineartimer-parent21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.by-parent21 {
  align-items: flex-start;
}
.frame-parent1969 {
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
}
.frame-parent1968,
.frame-parent1969,
.i-hc-ngoi-thng-c-s-h-n-parent20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-hc-ngoi-thng-c-s-h-n-parent20 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.frame-parent1968 {
  width: 1420px;
  flex-direction: row;
  gap: 24px;
}
.tng-quan17 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper433 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc77 {
  font-family: Kanit;
}
.tn-ting-anh17 {
  font-weight: 300;
}
.trng-i-hc-ngoi-thng-t17 {
  margin: 0;
}
.c-thnh-lp17 {
  margin: 0;
  font-weight: 300;
}
.trng-i-hc-container17 {
  position: relative;
  font-size: 20px;
  display: inline-block;
  width: 1420px;
}
.s-mng-ca17 {
  font-size: 20px;
}
.n-nm-203034,
.s-mng-ca17 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 1420px;
}
.n-nm-2030-trng-i-hc-ngo-parent15 {
  gap: 16px;
  font-size: 20px;
}
.frame-parent1966,
.n-nm-2030-trng-i-hc-ngo-parent15,
.trng-i-hc-ngoi-thng-t-parent15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc-ngoi-thng-t-parent15 {
  gap: 24px;
  font-size: 32px;
}
.frame-parent1966 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;
}
.c-s-vt-cht-parent15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.frame-wrapper434 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.nhm-ngnh-ngn18 {
  flex: 1;
  position: relative;
}
.iconoutlinedsuggestedplus72 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent60 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #7b61ff;
}
.nhm-ngnh-ngn-ng-vn-ho-parent15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.khi-thi124,
.m-ngnh88,
.tn-ngnh98 {
  position: relative;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.khi-thi124,
.tn-ngnh98 {
  width: 400px;
}
.khi-thi124 {
  width: 300px;
}
.m-ngnh-parent86 {
  align-self: stretch;
  background-color: #edf4fc;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: space-between;
}
.d0146,
.ngn-ng-anh45,
.nth0421 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.d0146,
.ngn-ng-anh45 {
  width: 400px;
}
.d0146 {
  width: 300px;
}
.nth04-parent19 {
  width: 1420px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent1976 {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  justify-content: flex-start;
}
.frame-parent1974,
.frame-parent1976 {
  align-items: flex-start;
  gap: 16px;
}
.frame-parent1973,
.frame-parent1974,
.frame-wrapper435 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper435 {
  padding: 0 4px;
  align-items: flex-start;
}
.frame-parent1973 {
  align-items: center;
  gap: 24px;
  font-size: 20px;
}
.iconoutlinedsuggestedplus76 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent64 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: none;
  flex-direction: row;
  padding: 16px 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  color: #fff;
}
.hu-b-wrapper23 {
  border-radius: 8px;
  border: 1.5px solid #ca79c6;
  display: flex;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent1984,
.hu-b-wrapper23,
.xc-nhn-wrapper33 {
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper33 {
  border-radius: 8px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  display: flex;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent1984 {
  display: none;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #ca79c6;
}
.frame-parent1965,
.frame-parent1972 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent1972 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-end;
}
.frame-parent1965 {
  position: absolute;
  top: 127px;
  left: 260px;
  align-items: center;
}
.thng-bo50 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.title35,
.tt-c-wrapper33 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.title35 {
  align-self: stretch;
  height: 28px;
  padding: 0 0 0 4px;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c-wrapper33 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  padding: 4px 16px;
  justify-content: center;
}
.cha-c-wrapper33,
.frame-parent1985 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper33 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent1985 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child1164 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind348,
.emailgmailcom35 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom35 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.rectangle-parent661 {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child1165 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent1986 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child1167 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent1987,
.frame-parent1988,
.frame-parent1989 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent1988,
.frame-parent1989 {
  z-index: 4;
}
.frame-parent1989 {
  z-index: 5;
}
.frame-parent1990,
.frame-parent1991,
.frame-parent1992,
.frame-parent1993,
.frame-parent1994,
.frame-parent1995 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent1991,
.frame-parent1992,
.frame-parent1993,
.frame-parent1994,
.frame-parent1995 {
  z-index: 7;
}
.frame-parent1992,
.frame-parent1993,
.frame-parent1994,
.frame-parent1995 {
  z-index: 8;
}
.frame-parent1993,
.frame-parent1994,
.frame-parent1995 {
  z-index: 9;
}
.frame-parent1994,
.frame-parent1995 {
  z-index: 10;
}
.frame-parent1995 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon35 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button35,
.notifications35 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button35 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications35 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #1c1c1c;
}
.thng-tin-tuyn16 {
  position: relative;
  font-size: 42px;
  font-weight: 500;
}
.xt-tuyn-i-hc-wrapper16 {
  border-bottom: 2px solid #271e4a;
}
.nhm-tnh-cch-wrapper16,
.thng-tin-tuyn-sinh-parent14,
.xt-tuyn-i-hc-wrapper16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-tin-tuyn-sinh-parent14 {
  align-items: flex-end;
  gap: 24px;
}
.iconoutlinedapplicationbell66 {
  position: relative;
  width: 36px;
  height: 36px;
}
.iconoutlinedapplicationbell-wrapper64 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1996 {
  width: 1498px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapper437,
.frame-wrapper438 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper438 {
  align-self: stretch;
}
.frame-wrapper437 {
  position: absolute;
  top: 40px;
  left: 260px;
  width: 1500px;
  font-size: 32px;
}
.female15-icon63 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.female15-parent61 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child169,
.dashboard-icon-child170,
.dashboard-icon-child171,
.dashboard-icon-child172 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child170,
.dashboard-icon-child171,
.dashboard-icon-child172 {
  top: 20.73px;
}
.dashboard-icon-child171,
.dashboard-icon-child172 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child172 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.text399 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.dashboard-icon-parent41,
.vuesaxlinearinfo-circle-parent64 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent64 {
  background-color: #fff;
}
.frame-parent1999 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent1998 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.vuesaxlineararrow-right-wrapper65 {
  position: absolute;
  top: calc(50% - 1695.5px);
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent1997 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 236px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent1964 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.thng-tin-tuyn-sinh-2 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 3847px;
  overflow: hidden;
  text-align: left;
  font-size: 36px;
  color: #271e4a;
  font-family: Kanit;
}
