.mobilecap-icon6,
.mobilemobileborder6 {
  position: absolute;
  mix-blend-mode: normal;
}
.mobilemobileborder6 {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid #191d21;
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.mobilecap-icon6 {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.mobilemobilecapacity6 {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: #191d21;
  width: 18px;
  height: 7.33px;
}
.mobilebattery6 {
  position: absolute;
  top: 17.33px;
  right: 14.34px;
  width: 24.33px;
  height: 11.33px;
}
.mobilemobilewifi-icon6 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.mobilemobilecellular-connectio-icon6 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.mobiletime6,
.time-style7 {
  position: absolute;
  width: 54px;
}
.mobiletime6 {
  top: calc(50% - 3.5px);
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 600;
  display: inline-block;
}
.time-style7 {
  top: 7.33px;
  left: 21px;
  height: 21px;
}
.mobilestatus-bar6 {
  position: absolute;
  top: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  text-align: center;
  color: #191d21;
  font-family: "SF Pro Text";
}
.mobilemobilehome-indicator6 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: 100px;
  background-color: #acb8c2;
  width: 134px;
  height: 5px;
  opacity: 0.4;
}
.mobilehome-bar6 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 34px;
}
.mobilevuesaxlinearsidebar-ri-wrapper4 {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.mobilequn-l-ngi {
  position: relative;
  letter-spacing: -1px;
  line-height: 112%;
  font-weight: 500;
}
.frame-parent94 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.mobileframe-4273195576,
.mobileiconoutlinedapplicatio-wrapper4 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobileframe-4273195576 {
  position: absolute;
  top: 44px;
  left: calc(50% - 171.5px);
  border-radius: 10px;
  width: 343px;
  padding: 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.mobile,
.mobiletn-user {
  position: relative;
  display: inline-block;
  width: 30px;
  flex-shrink: 0;
  opacity: 0.9;
}
.mobiletn-user {
  width: 204px;
}
.mobile-parent {
  width: 210px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.mobileph-duyt {
  position: relative;
  text-align: center;
  opacity: 0.9;
}
.frame-parent96 {
  border-radius: 4px;
  background-color: #edf4fc;
  width: 311px;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.mobileycpd-yu-cu {
  position: relative;
  font-weight: 300;
  opacity: 0.9;
}
.frame-parent95 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.mobile1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 30px;
  flex-shrink: 0;
}
.mobilerectangle-48-icon3 {
  position: relative;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.mobilenguyn-vn-a3 {
  position: relative;
  font-weight: 500;
}
.mobileonline {
  position: relative;
}
.mobilemobileellipse-34 {
  position: relative;
  border-radius: 50%;
  background-color: #79cfa6;
  width: 7px;
  height: 7px;
}
.mobile1-parent,
.mobileonline-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mobileonline-parent {
  gap: 4px;
  color: #79cfa6;
}
.mobile1-parent {
  padding: 0 0 0 8px;
  gap: 24px;
}
.mobile- {
  position: relative;
  font-weight: 300;
  color: #271e4a;
  text-align: center;
  display: inline-block;
  width: 63px;
  flex-shrink: 0;
  opacity: 0.9;
}
.frame-parent103,
.frame-parent98 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-parent98 {
  border-bottom: 1px solid #e0e9f4;
  padding: 0 8px 8px 0;
}
.frame-parent103 {
  padding: 0 8px 0 0;
}
.mobilerectangle-48-icon10,
.mobilerectangle-48-icon11,
.mobilerectangle-48-icon9 {
  position: relative;
  border-radius: 8px;
  width: 80px;
  height: 61px;
  object-fit: cover;
}
.mobilerectangle-48-icon10,
.mobilerectangle-48-icon11 {
  height: 50px;
}
.mobilerectangle-48-icon11 {
  width: 50px;
}
.frame-parent97 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  color: #3f779b;
}
.mobilevuesaxlineararrow-left-icon {
  position: relative;
  width: 16px;
  height: 16px;
}
.mobilequay-li {
  position: relative;
  font-weight: 300;
}
.mobilevuesaxlineararrow-left-parent {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #b8b8b8;
}
.mobile110 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 33px;
  flex-shrink: 0;
  opacity: 0.9;
}
.frame-parent108,
.mobiletip-tc-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobiletip-tc-parent {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 8px;
  justify-content: flex-start;
  gap: 4px;
}
.frame-parent108 {
  align-self: stretch;
  justify-content: space-between;
  text-align: center;
}
.mobileframe-427319665 {
  position: absolute;
  top: 124px;
  left: 16px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 343px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
}
.iphone-8-16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  overflow: hidden;
}
.mobilefemale15-icon {
  position: relative;
  border-radius: 64px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mobilemobiletext {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.mobilefemale15-parent {
  position: absolute;
  top: 32px;
  left: calc(50% - 119px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.mobilemobileellipse-2,
.mobilemobilerectangle-5,
.mobilemobilerectangle-6,
.mobilemobilerectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 1.5px solid #271e4a;
  box-sizing: border-box;
  width: 10.18px;
  height: 10.18px;
}
.mobilemobileellipse-2,
.mobilemobilerectangle-6,
.mobilemobilerectangle-7 {
  top: 13.82px;
}
.mobilemobileellipse-2,
.mobilemobilerectangle-6 {
  top: 0;
  left: 13.82px;
}
.mobilemobileellipse-2 {
  top: 13.82px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.dashboard-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.dashboard-icon-parent,
.mobilevuesaxlinearprofile-2u-parent {
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px 14px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  /* transparent background */
  background-color: rgba(255, 255, 255, 0.5);
}
.dashboard-icon-parent_new {
  border-radius: 8px;
  /* box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64); */
  /* backdrop-filter: blur(14px); */
  display: flex;
  flex-direction: row;
  padding: 8px 14px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  background: "transparent" !important;
}
.mobilevuesaxlinearprofile-2u-parent {
  background-color: #fff;
}
.frame-parent109,
.mobilevuesaxlinearsidebar-le-wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.frame-parent109 {
  top: 152px;
  left: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.mobilevuesaxlinearsidebar-le-wrapper {
  top: 60px;
  left: 291px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
}
.mobileframe-427319073,
.mobilegroup-37246 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 311px;
}
.mobileframe-427319073 {
  left: calc(50% - 155.5px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
}
.mobilegroup-37246 {
  left: calc(50% - 187.5px);
  font-size: 16px;
  color: #1c1c1c;
  font-family: Inter;
}
.mobilemobilemobilemodalqlndsid {
  position: relative;
  background: linear-gradient(
    125.12deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 33.85%,
    #e6e4ea 70.83%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  color: #271e4a;
  font-family: Kanit;
}
