.mobilemobileborder14 {
  position: absolute;
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid #191d21;
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
  mix-blend-mode: normal;
}
.mobilecap-icon14 {
  position: absolute;
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.mobilemobilecapacity14 {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: #191d21;
  width: 18px;
  height: 7.33px;
}
.mobilebattery14 {
  position: absolute;
  top: 17.33px;
  right: 14.34px;
  width: 24.33px;
  height: 11.33px;
}
.mobilemobilewifi-icon14 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.mobilemobilecellular-connectio-icon14 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.mobiletime14 {
  position: absolute;
  top: calc(50% - 3.5px);
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
}
.time-style15 {
  position: absolute;
  top: 7.33px;
  left: 21px;
  width: 54px;
  height: 21px;
}
.mobilestatus-bar14 {
  position: absolute;
  top: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  text-align: center;
  font-size: 15px;
  color: #191d21;
  font-family: "SF Pro Text";
}
.mobilenguyn-vn-a46 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 104px;
  flex-shrink: 0;
}
.mobilehc-sinh3 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.frame-wrapper29,
.mobilehc-sinh-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper29 {
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.frame-wrapper28,
.frame-wrapper30 {
  border-radius: 8px;
  padding: 4px 8px;
  align-items: center;
}
.frame-wrapper28 {
  flex: 1;
  background-color: #fcddec;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-wrapper30 {
  background-color: #d4d4d4;
  color: #fff;
}
.frame-parent187,
.frame-wrapper30,
.mobilenguyn-vn-a-parent41 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent187 {
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #e94b9c;
}
.mobilenguyn-vn-a-parent41 {
  align-items: center;
  gap: 12px;
}
.mobileios-chevron-right6 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.mobileback3 {
  position: relative;
  font-weight: 300;
}
.mobileios-chevron-right-parent1 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.mobile2-203 {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: rgba(39, 30, 74, 0.8);
  text-align: center;
  display: inline-block;
  width: 52px;
  flex-shrink: 0;
}
.mobilenext-parent1 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.frame-parent188 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 14px;
}
.frame-parent186 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.mobilerectangle-48-icon43 {
  flex: 1;
  position: relative;
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  object-fit: cover;
}
.mobileimage-21-icon3 {
  position: relative;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.mobileistp-t3 {
  position: relative;
  font-size: 14px;
  color: #fa8c16;
}
.mobileimage-21-parent1,
.mobilevirtuoso-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}
.mobileimage-21-parent1 {
  width: 147px;
  flex-direction: row;
  align-items: flex-start;
}
.mobilenguyn-wrapper1,
.mobilerectangle-48-parent41 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.mobilerectangle-48-parent41 {
  justify-content: flex-end;
  gap: 28px;
}
.mobilenguyn-wrapper1 {
  border-bottom: 1px solid #271e4a;
  justify-content: flex-start;
  color: rgba(39, 30, 74, 0.8);
}
.mobileh-parent1 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.mobileh-parent1,
.mobiletn-parent1,
.mobilevn-a-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobilevn-a-wrapper1 {
  align-self: stretch;
  border-bottom: 1px solid rgba(39, 30, 74, 0.5);
  flex-direction: row;
}
.mobiletn-parent1 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent191 {
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
  color: #271e4a;
}
.frame-parent189,
.frame-parent190,
.frame-parent191,
.frame-parent192 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frame-parent192 {
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
}
.frame-parent189,
.frame-parent190 {
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent190 {
  gap: 16px;
  text-align: left;
  font-size: 14px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent189 {
  gap: 28px;
  text-align: center;
}
.mobilecp-nht-wrapper5,
.mobilehu-b-wrapper5 {
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 8px 40px;
  align-items: center;
  justify-content: center;
}
.mobilehu-b-wrapper5 {
  border: 1.5px solid #ca79c6;
  color: #ca79c6;
}
.mobilecp-nht-wrapper5 {
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
}
.mobileiconoutlinedapplicatio17 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.mobilexo-parent1 {
  flex: 1;
  border-radius: 8px;
  background-color: #ff2528;
  box-shadow: 0 4px 15px rgba(255, 163, 158, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.frame-parent185,
.frame-parent194 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent194 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #fff;
}
.frame-parent185 {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 334px;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 16px;
}
.i5 {
  font-weight: 600;
}
.mobile543,
.mobileintroverted4 {
  flex: 1;
  position: relative;
}
.mobile543 {
  text-align: center;
}
.mobileintroverted-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.mobilethch-cc-ni4 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
}
.frame-parent196,
.frame-parent197 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.frame-parent197 {
  align-self: stretch;
  align-items: flex-start;
  gap: 8px;
}
.frame-parent196 {
  gap: 16px;
}
.frame-parent196,
.frame-parent199 {
  align-self: stretch;
  align-items: flex-start;
}
.frame-parent195,
.frame-parent199,
.mobileframe-4273196133 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.frame-parent195 {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  padding: 16px;
  align-items: flex-start;
}
.mobileframe-4273196133 {
  position: absolute;
  top: 124px;
  left: 21px;
  align-items: center;
}
.mobilevuesaxlinearsidebar-ri-icon14 {
  position: relative;
  width: 24px;
  height: 24px;
}
.mobilevuesaxlinearsidebar-ri-wrapper12 {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.mobilequn-l-ngi8 {
  position: relative;
  letter-spacing: -1px;
  line-height: 112%;
  font-weight: 500;
}
.frame-parent202 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.mobileiconoutlinedapplicatio18 {
  position: relative;
  width: 16px;
  height: 16px;
}
.mobileframe-42731955714,
.mobileiconoutlinedapplicatio-wrapper12 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobileframe-42731955714 {
  position: absolute;
  top: 44px;
  left: calc(50% - 171.5px);
  border-radius: 10px;
  width: 343px;
  padding: 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.mobilemobilehome-indicator14 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: 100px;
  background-color: #acb8c2;
  width: 134px;
  height: 5px;
  opacity: 0.4;
}
.mobilehome-bar14,
.mobilemobilerectangle-346240665 {
  position: absolute;
  left: calc(50% - 187.5px);
  width: 375px;
}
.mobilehome-bar14 {
  bottom: 0;
  height: 34px;
}
.mobilemobilerectangle-346240665 {
  top: calc(50% - 333.5px);
  background-color: rgba(212, 212, 212, 0.15);
  height: 667px;
}
.mobilevuesaxlineardanger-icon3 {
  position: relative;
  width: 48px;
  height: 48px;
}
.bn-mun-kch {
  font-weight: 300;
}
.user12 {
  font-weight: 500;
}
.mobilebn-mun-kch-container1 {
  line-break: anywhere;
  width: 100%;
}
.mobilebn-mun-kch-container {
  position: relative;
  font-size: 14px;
  color: #555;
  text-align: center;
  display: flex;
  align-items: center;
  width: 311px;
}
.mobilevuesaxlineardanger-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.mobilekch-hot {
  position: relative;
  font-weight: 500;
}
.mobilekch-hot-wrapper {
  align-self: stretch;
  border-radius: 24px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px rgba(123, 97, 255, 0.64);
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  align-items: center;
  justify-content: center;
}
.frame-wrapper32,
.mobilehu-b10 {
  font-size: 15px;
  text-align: center;
  display: flex;
}
.frame-wrapper32 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}
.mobilehu-b10 {
  flex: 1;
  position: relative;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 311px;
}
.mobileframe-427319636 {
  position: absolute;
  top: calc(50% - 129.5px);
  left: calc(50% - 167.5px);
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 335px;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 18px;
  color: #7b61ff;
}
.iphone-8-114 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  overflow: hidden;
}
.mobilemobilemobilemodaluseradm {
  position: relative;
  background: linear-gradient(
    125.12deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 33.85%,
    #e6e4ea 70.83%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #271e4a;
  font-family: Kanit;
}
