.mobilecap-icon3,
.mobilemobileborder3 {
  position: absolute;
  mix-blend-mode: normal;
}
.mobilemobileborder3 {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid #191d21;
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.mobilecap-icon3 {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.mobilemobilecapacity3 {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: #191d21;
  width: 18px;
  height: 7.33px;
}
.mobilebattery3 {
  position: absolute;
  top: 17.33px;
  right: 14.34px;
  width: 24.33px;
  height: 11.33px;
}
.mobilemobilewifi-icon3 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.mobilemobilecellular-connectio-icon3 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.mobiletime3,
.time-style4 {
  position: absolute;
  width: 54px;
}
.mobiletime3 {
  top: calc(50% - 3.5px);
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 600;
  display: inline-block;
}
.time-style4 {
  top: 7.33px;
  left: 21px;
  height: 21px;
}
.mobilestatus-bar3 {
  position: absolute;
  top: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  text-align: center;
  font-size: 15px;
  color: #191d21;
  font-family: "SF Pro Text";
}
.mobilenguyn-vn-a {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 104px;
  flex-shrink: 0;
}
.mobilehc-sinh {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.frame-wrapper3,
.mobilehc-sinh-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper3 {
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.frame-wrapper2,
.frame-wrapper4 {
  border-radius: 8px;
  padding: 4px 8px;
  align-items: center;
}
.frame-wrapper2 {
  flex: 1;
  background-color: #fcddec;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-wrapper4 {
  background-color: #d4d4d4;
  color: #fff;
}
.frame-parent38,
.frame-wrapper4,
.mobilenguyn-vn-a-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent38 {
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #e94b9c;
}
.mobilenguyn-vn-a-parent {
  align-items: center;
  gap: 12px;
}
.mobileios-chevron-right {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.mobileback {
  position: relative;
  font-weight: 300;
}
.mobileios-chevron-right-parent {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.mobile2-20 {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: rgba(39, 30, 74, 0.8);
  text-align: center;
  display: inline-block;
  width: 52px;
  flex-shrink: 0;
}
.frame-parent39,
.mobilenext-parent {
  flex-direction: row;
  align-items: center;
}
.mobilenext-parent {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  padding: 8px;
  justify-content: flex-end;
  gap: 4px;
}
.frame-parent39 {
  display: none;
  justify-content: center;
  gap: 16px;
  font-size: 14px;
}
.frame-parent37 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.mobilerectangle-48-icon {
  flex: 1;
  position: relative;
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  object-fit: cover;
}
.mobileimage-21-icon {
  position: relative;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.mobilevirtuoso {
  position: relative;
  font-weight: 500;
}
.mobileistp-t {
  position: relative;
  font-size: 14px;
  color: #fa8c16;
}
.mobileimage-21-parent,
.mobilevirtuoso-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}
.mobileimage-21-parent {
  width: 147px;
  flex-direction: row;
  align-items: flex-start;
}
.mobilenguyn-wrapper,
.mobilerectangle-48-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.mobilerectangle-48-parent {
  justify-content: flex-end;
  gap: 28px;
}
.mobilenguyn-wrapper {
  border-bottom: 1px solid #271e4a;
  justify-content: flex-start;
  color: rgba(39, 30, 74, 0.8);
}
.mobileh-parent {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.mobileh-parent,
.mobiletn-parent,
.mobilevn-a-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobilevn-a-wrapper {
  align-self: stretch;
  border-bottom: 1px solid rgba(39, 30, 74, 0.5);
  flex-direction: row;
}
.mobiletn-parent {
  flex: 1;
  flex-direction: column;
  gap: 8px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent42 {
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
  color: #271e4a;
}
.frame-parent40,
.frame-parent41,
.frame-parent42,
.frame-parent43 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frame-parent43 {
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
}
.frame-parent40,
.frame-parent41 {
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent41 {
  gap: 16px;
  text-align: left;
  font-size: 14px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent40 {
  gap: 28px;
  text-align: center;
}
.mobilecp-nht-wrapper,
.mobilehu-b-wrapper {
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 8px 40px;
  align-items: center;
  justify-content: center;
}
.mobilehu-b-wrapper {
  border: 1.5px solid #ca79c6;
}
.mobilecp-nht-wrapper {
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  color: #fff;
}
.frame-parent36,
.frame-parent45 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent45 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #ca79c6;
}
.frame-parent36 {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 334px;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 16px;
}
.i2 {
  font-weight: 600;
}
.mobile54,
.mobileintroverted1 {
  flex: 1;
  position: relative;
}
.mobile54 {
  text-align: center;
}
.mobileintroverted-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.mobilethch-cc-ni1 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
}
.frame-parent47,
.frame-parent48 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.frame-parent48 {
  align-self: stretch;
  align-items: flex-start;
  gap: 8px;
}
.frame-parent47 {
  gap: 16px;
}
.frame-parent47,
.frame-parent50 {
  align-self: stretch;
  align-items: flex-start;
}
.frame-parent46,
.frame-parent50,
.mobileframe-427319613 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.frame-parent46 {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  padding: 16px;
  align-items: flex-start;
}
.mobileframe-427319613 {
  position: absolute;
  top: 124px;
  left: 21px;
  align-items: center;
}
.mobilemobilehome-indicator3 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: 100px;
  background-color: #acb8c2;
  width: 134px;
  height: 5px;
  opacity: 0.4;
}
.mobilehome-bar3 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 34px;
}
.mobilevuesaxlinearsidebar-ri-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
}
.mobilevuesaxlinearsidebar-ri-wrapper1 {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.mobileuser1 {
  position: relative;
  letter-spacing: -1px;
  line-height: 112%;
  font-weight: 500;
}
.frame-parent53 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.mobileiconoutlinedapplicatio3 {
  position: relative;
  width: 16px;
  height: 16px;
}
.mobileframe-4273195573,
.mobileiconoutlinedapplicatio-wrapper1 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobileframe-4273195573 {
  position: absolute;
  top: 44px;
  left: calc(50% - 171.5px);
  border-radius: 10px;
  width: 343px;
  padding: 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.iphone-8-13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  overflow: hidden;
}
.mobilemobilerectangle-34624066 {
  position: absolute;
  top: calc(50% - 333.5px);
  left: calc(50% - 187.5px);
  background-color: rgba(212, 212, 212, 0.15);
  width: 375px;
  height: 667px;
}
.mobilemask-group-icon {
  position: relative;
  width: 117px;
  height: 117px;
}
.mobileu-nu-bn {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #555;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 311px;
}
.mobilemask-group-parent,
.mobileng-xut-wrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.mobilemask-group-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.mobileng-xut-wrapper {
  border-radius: 24px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px rgba(236, 180, 233, 0.64);
  flex-direction: row;
  padding: 18px 16px;
  justify-content: center;
}
.mobilecancel {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.frame-parent54,
.mobilecancel-wrapper,
.mobileframe-427319202 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobilecancel-wrapper {
  align-self: stretch;
  border-radius: 10px;
  flex-direction: row;
  color: #ca79c6;
}
.frame-parent54,
.mobileframe-427319202 {
  flex-direction: column;
  gap: 16px;
}
.frame-parent54 {
  align-self: stretch;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.mobileframe-427319202 {
  position: absolute;
  /* top: calc(50% - 170.5px); */
  top: 200px;
  left: calc(50% - 166.5px);
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px #d8d2fc;
  width: 334px;
  padding: 24px 16px;
  box-sizing: border-box;
  font-size: 18px;
  color: #ca79c6;
}
.mobilemobilemobilemodaldangxua {
  position: relative;
  background: linear-gradient(
    125.12deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 33.85%,
    #e6e4ea 70.83%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #271e4a;
  font-family: Kanit;
}
