.mobilecap-icon2,
.mobilemobileborder2 {
  position: absolute;
  mix-blend-mode: normal;
}
.mobilemobileborder2 {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid #191d21;
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.mobilecap-icon2 {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.mobilemobilecapacity2 {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: #191d21;
  width: 18px;
  height: 7.33px;
}
.mobilebattery2 {
  position: absolute;
  top: 17.33px;
  right: 14.34px;
  width: 24.33px;
  height: 11.33px;
}
.mobilemobilewifi-icon2 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.mobilemobilecellular-connectio-icon2 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.mobiletime2,
.time-style3 {
  position: absolute;
  width: 54px;
}
.mobiletime2 {
  top: calc(50% - 3.5px);
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 600;
  display: inline-block;
}
.time-style3 {
  top: 7.33px;
  left: 21px;
  height: 21px;
}
.mobilestatus-bar2 {
  position: absolute;
  top: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  text-align: center;
  font-size: 15px;
  color: #191d21;
  font-family: "SF Pro Text";
}
.mobilemobilehome-indicator2 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: 100px;
  background-color: #acb8c2;
  width: 134px;
  height: 5px;
  opacity: 0.4;
}
.mobilehome-bar2 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 34px;
}
.mobilevuesaxlinearsidebar-ri-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
}
.mobilevuesaxlinearsidebar-ri-frame {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.mobilegi-nguyn2 {
  position: relative;
  letter-spacing: -1px;
  line-height: 112%;
  font-weight: 500;
}
.frame-parent34 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.mobileiconoutlinedapplicatio2 {
  position: relative;
  width: 16px;
  height: 16px;
}
.mobileframe-4273195572,
.mobileiconoutlinedapplicatio-frame {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobileframe-4273195572 {
  position: absolute;
  top: 44px;
  left: calc(50% - 171.5px);
  border-radius: 10px;
  width: 343px;
  padding: 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.mobilemobilerectangle-41362,
.mobilemobilerectangle-41372 {
  flex: 1;
  position: relative;
  border-radius: 7px;
  background-color: #c2b8ff;
  height: 7px;
  mix-blend-mode: normal;
}
.mobilemobilerectangle-41372 {
  background-color: #d4d4d4;
}
.mobilemobilerectangle-4136-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
}
.mobilethng-tin-chung1 {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 24px;
  font-weight: 500;
}
.mobileh-tn1 {
  position: relative;
  line-height: 20px;
}
.mobilebutton-text3 {
  position: absolute;
  top: 24.39%;
  left: 12px;
  line-height: 20px;
}
.icon-glypharrow-down5 {
  position: relative;
  width: 20px;
  height: 20px;
}
.icon-glypharrow-down-wrapper2 {
  position: absolute;
  top: 10px;
  right: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.mobilemobiletext-field3 {
  align-self: stretch;
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  height: 41px;
  color: #8c8c8c;
}
.frame-wrapper1,
.mobilethng-tin-chung-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper1 {
  font-size: 14px;
}
.mobilethng-tin-chung-group {
  gap: 8px;
}
.mobilelabel2 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.mobilebutton2 {
  align-self: stretch;
  border-radius: 22px;
  background-color: #d4d4d4;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 8px 98px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.mobileframe-480955081 {
  position: absolute;
  top: 124px;
  left: calc(50% - 171.5px);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 343px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.iphone-8-12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  overflow: hidden;
}
.mobilemobilemobilegoiynguyenvo2 {
  position: relative;
  background: linear-gradient(
    125.12deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 33.85%,
    #e6e4ea 70.83%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #271e4a;
  font-family: Kanit;
}
