.mobilecap-icon6,
.mobilemobileborder6 {
  position: absolute;
  mix-blend-mode: normal;
}
.mobilemobileborder6 {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid #191d21;
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.mobilecap-icon6 {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.mobilemobilecapacity6 {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: #191d21;
  width: 18px;
  height: 7.33px;
}
.mobilebattery6 {
  position: absolute;
  top: 17.33px;
  right: 14.34px;
  width: 24.33px;
  height: 11.33px;
}
.mobilemobilewifi-icon6 {
  position: relative;
  width: 15.33px;
  height: 11px;
}
.mobilemobilecellular-connectio-icon6 {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.mobiletime6,
.time-style7 {
  position: absolute;
  width: 54px;
}
.mobiletime6 {
  top: calc(50% - 3.5px);
  left: 0;
  letter-spacing: -0.3px;
  font-weight: 600;
  display: inline-block;
}
.time-style7 {
  top: 7.33px;
  left: 21px;
  height: 21px;
}
.mobilestatus-bar6 {
  position: absolute;
  top: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  text-align: center;
  font-size: 15px;
  color: #191d21;
  font-family: "SF Pro Text";
}
.mobilevuesaxlinearsidebar-ri-icon6 {
  position: relative;
  width: 24px;
  height: 24px;
}
.mobilevuesaxlinearsidebar-ri-wrapper4 {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.mobilethng-k5 {
  position: relative;
  letter-spacing: -1px;
  line-height: 112%;
  font-weight: 500;
}
.mobile-frame-parent159-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.mobileiconoutlinedapplicatio7 {
  position: relative;
  width: 16px;
  height: 16px;
}
.mobileframe-4273195576,
.mobileiconoutlinedapplicatio-wrapper4 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobileframe-4273195576 {
  position: absolute;
  top: 44px;
  left: 16px;
  border-radius: 10px;
  width: 343px;
  padding: 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  color: #292d32;
}
.mobilemobilehome-indicator13 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: 100px;
  background-color: #acb8c2;
  width: 134px;
  height: 5px;
  opacity: 0.4;
}
.mobilehome-bar13 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 187.5px);
  width: 375px;
  height: 34px;
}
.chevron-arrow-right-icon8 {
  position: relative;
  width: 32px;
  height: 32px;
}
.mobilebutton-arrow6 {
  border-radius: 160px;
  background-color: #271e4a;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.mobilext-tuyn-i6 {
  position: relative;
}
.mobileframe-4273196076 {
  position: absolute;
  width: calc(100% - 212px);
  right: 106px;
  bottom: 34px;
  left: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 20px;
}
.mobilevuesaxlinearpeople-icon5 {
  position: relative;
  width: 68px;
  height: 68px;
}
.mobile1255,
.mobile2505 {
  position: relative;
  display: inline-block;
  width: 34px;
  flex-shrink: 0;
}
.mobile1255 {
  font-size: 16px;
  width: 44px;
}
.mobile250-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.mobiletng-ngi-dng5 {
  position: relative;
  font-weight: 600;
  color: #271e4a;
  display: inline-block;
  width: 170px;
}
.frame-parent161 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.mobilevuesaxlinearpeople-parent3 {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 343px;
  display: flex;
  flex-direction: row;
  padding: 24px 32px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.mobilesee-less {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}
.mobile-frame-parent160,
.time6 {
  display: flex;
  align-items: center;
}
.time6 {
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(0, 222, 163, 0.06);
  /* backdrop-filter: blur(15px); */
  width: 96px;
  height: 40px;
  flex-direction: row;
  padding: 12px;
  box-sizing: border-box;
  justify-content: center;
  gap: 4px;
  text-align: center;
  font-size: 12px;
  color: #00261c;
}
.mobile-frame-parent160 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  font-size: 20px;
  color: #7b7b7b;
}
.mobilekho-st-gi5 {
  position: relative;
  font-weight: 500;
}
.mobilemobileellipse-36 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 16px;
  height: 16px;
}
.mobilemobileellipse-3-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: rgba(0, 0, 0, 0.6);
}
.mobilekho-st-gi-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.mobile1005 {
  position: relative;
  display: inline-block;
  width: 26px;
  flex-shrink: 0;
}
.mobilemobileline-6-icon25 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1.51px;
  opacity: 0.2;
}
.mobile-frame-parent168,
.mobile100-parent3 {
  display: flex;
  justify-content: flex-start;
}
.mobile100-parent3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
}
.mobile-frame-parent168 {
  position: absolute;
  top: calc(50% - 76px);
  left: calc(50% - 155.5px);
  width: 311px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.mobilevector-1-icon5 {
  position: absolute;
  top: calc(50% - 76px);
  left: calc(50% - 115.45px);
  width: 270.95px;
  height: 152px;
}
.mobile-frame-parent167 {
  position: relative;
  width: 311px;
  height: 152px;
  overflow: hidden;
  flex-shrink: 0;
}
.mobilet1-parent3 {
  width: 311px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 42px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
  color: #271e4a;
}
.mobile-frame-parent165,
.mobile-frame-parent166 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobile-frame-parent166 {
  gap: 8px;
  text-align: right;
  color: #b6b6b6;
}
.mobile-frame-parent165 {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(216, 210, 252, 0.64);
  width: 343px;
  padding: 16px;
  box-sizing: border-box;
  gap: 24px;
}
.mobilethu-gn8 {
  position: relative;
  font-size: 14px;
  color: #b8b8b8;
}
.mobile9,
.mobiletn-admin5 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 20px;
  flex-shrink: 0;
  opacity: 0.9;
}
.mobiletn-admin5 {
  width: 98px;
}
.mobile-parent3-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
}
.mobiletrng-thi5 {
  position: relative;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 68px;
  flex-shrink: 0;
  opacity: 0.9;
}
.mobile-frame-parent171-main {
  align-self: stretch;
  border-radius: 4px;
  background-color: #edf4fc;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 12px 4px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.mobile15 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 20px;
  flex-shrink: 0;
}
.mobilerectangle-48-icon24 {
  position: relative;
  border-radius: 8px;
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.mobileadmin-15 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 54px;
  flex-shrink: 0;
}
.mobile1-parent3-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 44px;
}
.mobileonline15 {
  position: relative;
  font-weight: 300;
}
.mobileonline-wrapper13 {
  border-radius: 4px;
  background-color: #79cfa6;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64), 0 4px 15px #79cfa6;
  width: 68px;
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.mobile-frame-parent173-main {
  align-self: stretch;
  border-bottom: 1px solid #e0e9f4;
  padding: 12px 4px;
  justify-content: space-between;
}
.mobile-frame-parent173-main,
.mobile-frame-parent176,
.mobileoffline-wrapper3-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobileoffline-wrapper3-main {
  border-radius: 4px;
  background-color: #8c8c8c;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64), 0 4px 15px #8c8c8c;
  width: 68px;
  padding: 4px 8px;
  box-sizing: border-box;
  justify-content: center;
  color: #fff;
}
.mobile-frame-parent176 {
  align-self: stretch;
  padding: 12px 4px;
  justify-content: space-between;
}
.mobile-frame-parent172-main {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #3f779b;
}
.mobile-frame-parent170-main {
  align-self: stretch;
  gap: 8px;
  font-size: 14px;
}
.mobile-frame-parent169-main,
.mobile-frame-parent170-main,
.mobileframe-4273196335 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobile-frame-parent169-main {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 343px;
  padding: 16px;
  box-sizing: border-box;
  gap: 24px;
}
.mobileframe-4273196335 {
  position: absolute;
  top: 84px;
  left: 24px;
  gap: 16px;
}
.mobileframe-427319648-icon5 {
  position: sticky;
  position: -webkit-sticky;
  left: 300px;
  top: 740px;
  border-radius: 100000px;
  width: 106px;
  height: 103px;
}
.iphone-8-16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  overflow: hidden;
}
.mobilemobilemobilehomeadmin {
  position: relative;
  background: linear-gradient(
    125.12deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 33.85%,
    #e6e4ea 70.83%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1483px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #271e4a;
  font-family: Kanit;
}
